<section class="header">
  <p class="titulo">ASSINATURA</p>
  <p class="subtitulo">APROVADA</p>
  <p class="descricao">Parabéns! Agora você é um assinante Black e já pode usufruir de todas as funcionalidades e conteúdos criados especialmente para você!</p>
  <button>Ir para o App</button>
</section>
