<section class="opcoes">
  <p class="sobre">Você ganhou acesso aos seguintes recursos</p>
  <div class="quadros">
    <div class="quadro black">
      <p class="titulo">Black.GC</p>
      <p class="descricao">Uma área com cursos, ebooks, podcasts e vários materiais exclusivos que ajudarão você a vender muito mais, a conseguir prospectos para sua rede e ter uma vida mais organizada financeiramente!</p>
    </div>
    <div class="quadro app">
      <p class="titulo">App.GC</p>
      <p class="descricao">Sua nova secretária online que te avisará sobre seus compromissos na agenda, a hora certa de fazer a pós-venda dos clientes, as encomendas a entregar, os clientes aniversariantes, os produtos em falta no estoque e muito mais.</p>
    </div>
    <div class="quadro suporte">
      <p class="titulo">Suporte.GC</p>
      <p class="descricao">Está com alguma dúvida? Agora você tem suporte 24 horas, 7 dias por semana, incluindo finais de semana e feriados, para ajudar você em tudo que precisar!</p>
    </div>
    <div class="quadro afiliado">
      <p class="titulo">Afiliado.GC</p>
      <p class="descricao">Ganhe uma renda extra solicitando sua afiliação para indicar o sistema Gerencia Consultor para amigos, conhecidos ou clientes! Você receberá uma renda recorrente para cada pessoa que indicar e continuar utilizando.</p>
    </div>
  </div>
</section>
