/* GRÁFICO SVG
*/

.resumo .receitas svg,
.resumo .despesas svg,
.resumo .lucro svg {
  max-width: 500px;
}

.resumo p.titulo {
  font-family: 'Regular';
  font-size: 1.5rem;
  color: var(--c-text-dark);
}

.resumo p.subtitulo {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-text);
}

/* TABELAS
*/

.tabela {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabela div {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding-top: 20px;
}

.tabela div span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.tabela p {
  font-family: 'Regular';
  font-size: 1rem;
  padding-left: 10px;
  color: var(--c-text-dark);
}

.tabela p.valor {
  font-family: 'Regular';
  font-size: 1rem;
  margin-left: auto;
  text-align: right;
  color: var(--c-text);
}

/* CORES
*/

.tabela div .verde-escuro {
  background-color: var(--c-green-darkest);
}

.tabela div .verde-medio {
  background-color: var(--c-green-darker);
}

.tabela div .verde-claro {
  background-color: var(--c-green-lightest);
}

.tabela div .verde {
  background-color: var(--c-green);
}

.tabela div .vermelho {
  background-color: var(--c-red);
}

.tabela div .vermelho-claro {
  background-color: var(--c-red-lighter);
}

.tabela div .vermelho-medio {
  background-color: var(--c-red-darker);
}

.tabela div .vermelho-escuro {
  background-color: var(--c-red-darkest);
}
