/* MENU
*/

.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: calc(100% - 60px);
  height: 50px;
}

/* BOTOES
*/

.menu .botoes {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.menu .receitas,
.menu .despesas {
  height: 100%;
  margin-left: 20px;
}

.menu .receitas button,
.menu .despesas button {
  font-family: 'Regular';
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 170px;
  height: 100%;
  border: 1.5px solid var(--c-white);
  border-radius: 10px;
  background-color: var(--c-base);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

.menu .despesas button {
  color: var(--c-red);
}

.menu .receitas button {
  color: var(--c-green);
}

.menu .receitas button:hover,
.menu .despesas button:hover {
  background-color: var(--c-body);
  box-shadow: 0 0 5px 0 var(--c-shadow-one), 0 10px 30px var(--c-shadow-two);
}

/* RESPONSIVO
*/

@media screen and (max-width: 800px) {
  .menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 120px;
  }
  .menu .botoes {
    width: 100%;
    margin-top: 20px;
  }
  .menu .receitas,
  .menu .despesas {
    width: 100%;
    margin: 0;
  }
  .menu .despesas {
    margin-left: 20px;
  }
  .menu .receitas button {
    width: 100%;
    min-width: 100%;
  }
  .menu .despesas button {
    width: 100%;
    min-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .menu {
    width: calc(100% - 30px);
    height: 110px;
  }
  .menu .despesas {
    margin-left: 10px;
  }
  .menu .receitas button {
    font-size: 1rem;
    padding: 0;
  }
  .menu .despesas button {
    font-size: 1rem;
    padding: 0;
  }
}
