/* RESUMO
*/

.resumo {
  display: grid;
  width: calc(100% - 60px);
  height: 80vh;
  margin-top: 30px;

  grid-gap: 20px;
  grid-template: 'a b c';
}

.resumo .lucro {
  grid-area: a;
}

.resumo .receitas {
  grid-area: b;
}

.resumo .despesas {
  grid-area: c;
}

.resumo .despesas,
.resumo .receitas {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 40px 30px;
  border-radius: 15px;
  background-color: var(--c-base);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

/* LUCRO
*/

.resumo .lucro {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 40px 60px;
  border-radius: 15px;
  background-color: var(--c-base);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

.resumo .lucro div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  text-align: center;
}

.resumo .lucro p.texto {
  font-family: 'Regular';
  font-size: 1rem;
  padding-bottom: 5px;
  color: var(--c-text);
}

.resumo .lucro span.valor {
  font-family: 'Regular';
  font-size: 1.2rem;
}

.resumo .lucro span.valor.verde {
  color: var(--c-green);
}

.resumo .lucro span.valor.vermelho {
  color: var(--c-red);
}

.resumo .lucro span.valor.cinza {
  color: var(--c-grey-dark);
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 800px) {
  .resumo {
    height: auto;

    grid-template: 'a a'
    'b c';
  }
}

@media screen and (max-width: 650px) {
  .resumo {
    height: auto;

    grid-gap: 20px;
    grid-template: 'a'
    'b'
    'c';
  }
}

@media screen and (max-width: 500px) {
  .resumo {
    width: calc(100% - 30px);
  }
}
