/* BUTTON
*/

button {
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
}

button::before,
button::after {
  transition: all 0.3s;
  outline: none;
}

button i {
  pointer-events: none;
}

/* DESATIVADO
*/
button:disabled {
  opacity: 20% !important;
}

button[disabled='true']:hover {
  cursor: not-allowed !important;
  opacity: 20% !important;
}
