/* INPUT
*/

input {
  font-family: 'Regular';
  font-size: 1rem;
  width: 100%;
  padding: 10px 0 10px 0;
  color: var(--c-input);
  border-bottom: 2px solid var(--c-input-border);
  background-color: var(--c-white);

  filter: none;
}

input:focus,
input::placeholder {
  opacity: 1;
}

input::placeholder {
  font-family: 'Regular';
  color: var(--c-input-placeholder);
}

input:focus {
  font-family: 'Regular';
  color: var(--c-input);
  outline: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: inset 0 0 0 9999px var(--c-white);
}

/* RESPONSIVO
*/

@media screen and (max-width: 500px) {
  input {
    font-size: 0.9rem;
    border-bottom: 1.5px solid var(--c-input-border);
  }
}
