<header>

  <!-- TITULO -->
  <div class="titulo">
    <p class="nome">Agenda</p>
    <p class="sobre">Tudo sobre os seus horários</p>
  </div>

  <!-- ADICIONAR -->
  <div class="adicionar tooltip"><span class="tooltip_text">Adicionar horário</span>
    <i class="icon-mais agenda"></i>
  </div>

  <!-- OPCOES -->
  <div class="opcoes">
    <a class="ajuda" id="chat_desktop_start"><i class="icon-chat"></i></a>
    <a class="notificacoes" href="/notificacoes"><i class="icon-notificacao"></i>
      <div></div>
    </a>
    <a href="/perfil">
      <img src="https://static.gerenciaconsultor.com/images/plataforma/outros/placeholder-perfil.svg">
      <p id="nome_usuario">&nbsp;</p>
    </a>
  </div>

</header>
