<section class="ocultar" id="modal_adicionar">

  <!-- TELAS -->
  <div class="telas">

    <!-- TELA INFORMACOES -->
    <div class="tela" data-id="1">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Novo Horário</p>
        <p class="descricao">Adicione um compromisso em sua agenda</p>
      </div>
      <!-- Título -->
      <label>Título <span class="required">*</span> </label>
      <input spellcheck="false" id="titulo" autocomplete="off" type="text" placeholder="Qual o título do horário?">
      <!-- Descrição -->
      <label>Descrição</label>
      <textarea spellcheck="false" id="descricao" rows="1" placeholder="Qual a descrição do horário?"></textarea>
      <!-- Dia -->
      <label>Data do horário <span class="required">*</span> </label>
      <app-date-picker tabindex="0"></app-date-picker>
      <!-- Começa -->
      <label>Horário de começo <span class="required">*</span> </label>
      <input spellcheck="false" id="hora_inicial" autocomplete="off" type="tel"
        placeholder="Que horas seu compromisso começa?" data-mask="##:##">
      <!-- Termina -->
      <label>Horário de término <span class="required">*</span> </label>
      <input spellcheck="false" id="hora_final" autocomplete="off" type="tel"
        placeholder="Que horas seu compromisso termina?" data-mask="##:##">
      <!-- Cor -->
      <label class="cor">Cor do Horário</label>
      <app-cor></app-cor>

      <!-- BOTOES -->
      <div class="botoes">
        <button class="negativo" id="fechar"><i class="icon-fechar"></i>Fechar</button>
        <button class="positivo" id="adicionar">Adicionar</button>
      </div>
    </div>

  </div>

</section>
