/* CONTEÚDO
*/

.conteudo {
  display: grid;
  width: calc(100% - 60px);
  height: auto;
  min-height: 50vh;

  grid-gap: 30px;
  grid-template: 'dados dados noturno noturno noturno noturno noturno'
  'dados dados suporte suporte suporte suporte suporte'
  'dados dados suporte suporte suporte suporte suporte'
  'assinatura assinatura assinatura assinatura assinatura assinatura assinatura';
}

.conteudo .dados {
  grid-area: dados;
}

.conteudo .noturno {
  grid-area: noturno;
}

.conteudo .suporte {
  grid-area: suporte;
}

.conteudo .assinatura {
  grid-area: assinatura;
}

.conteudo .dados,
.conteudo .noturno,
.conteudo .suporte,
.conteudo .assinatura {
  border-radius: 20px;
  background-color: var(--c-base);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

/* DADOS
*/

.conteudo > .dados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
  padding: 50px 30px;
}

.conteudo > .dados > input {
  margin-bottom: 25px;
}

.conteudo > .dados > .botoes {
  display: flex;
  flex-direction: row;
}

.conteudo > .dados > .botoes > button.salvar {
  font-family: 'Regular';
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--c-white-fixed);
  border-radius: 100px;
  background-color: var(--c-button-gray);
}

.conteudo > .dados > .botoes > button.salvar:hover {
  background-color: var(--c-button-gray-dark);
}

.conteudo > .dados > .botoes > button.senha {
  font-family: 'Regular';
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  margin-left: auto;
  color: var(--c-grey-light);
  border-radius: 100px;
  background-color: transparent;
}

.conteudo > .dados > .botoes > button.senha::before {
  font-family: 'Icons';
  font-size: 1.2rem;
  padding-right: 5px;
  content: '\e024';
  color: var(--c-grey-light);
}

.conteudo > .dados > .botoes > button.senha:hover,
.conteudo > .dados > .botoes > button.senha:hover::before {
  color: var(--c-grey-dark);
}

/* NOTURNO
*/

.conteudo > .noturno {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 30px;
}

.conteudo > .noturno > .texto {
  padding-right: 10px;
}

.conteudo > .noturno > .texto > p.titulo {
  font-family: 'Medium';
  font-size: 1.2rem;
  padding-bottom: 5px;
  color: var(--c-text-dark);
}

.conteudo > .noturno > .texto > p.descricao {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-text);
}

.conteudo > .noturno > app-checkbox {
  margin-left: auto;
}

/* SUPORTE
*/

.conteudo .suporte {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 30px;
}

.conteudo .suporte .texto {
  padding-right: 10px;
}

.conteudo .suporte .texto p.titulo {
  font-family: 'Medium';
  font-size: 1.2rem;
  padding-bottom: 5px;
  color: var(--c-text-dark);
}

.conteudo .suporte .texto p.descricao {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-text);
}

.conteudo .suporte button {
  margin-left: auto;
  background-color: transparent;
}

.conteudo .suporte button::before {
  font-family: 'Icons';
  font-size: 4rem;
  content: '\e009';
  color: var(--c-grey-light);
}

.conteudo .suporte button:hover::before {
  color: var(--c-grey-dark);
}

/* ASSINATURA
*/

.conteudo .assinatura {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 80px 30px;
}

.conteudo .assinatura .texto p.titulo {
  font-family: 'Medium';
  font-size: 1.2rem;
  padding-bottom: 5px;
  color: var(--c-text-dark);
}

.conteudo .assinatura .texto p.descricao {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-text);
}

.conteudo .assinatura .botao {
  margin-left: auto;
  padding-left: 20px;
}

.conteudo .assinatura .botao button {
  font-family: 'Regular';
  font-size: 1rem;
  width: 120px;
  padding: 5px 15px;
  color: var(--c-white-fixed);
  border-radius: 100px;
  background-color: var(--c-green);
}

.conteudo .assinatura .botao button:hover {
  background-color: var(--c-green-dark);
}

/* RESPONSIVO
*/

@media screen and (max-width: 900px) {
  .conteudo {
    grid-template: 'dados'
    'noturno'
    'suporte'
    'assinatura';
  }
  .conteudo .dados {
    width: 100%;
    min-width: 200px;
  }
  .conteudo .assinatura {
    padding: 30px 30px;
  }
}

@media screen and (max-width: 500px) {
  .conteudo {
    width: calc(100% - 30px);
  }
  .conteudo .dados,
  .conteudo .noturno,
  .conteudo .suporte,
  .conteudo .assinatura {
    border-radius: 10px;
  }
  .conteudo > .dados {
    padding: 30px 15px;
  }
  .conteudo > .noturno {
    padding: 30px 15px;
  }
  .conteudo .suporte {
    padding: 30px 15px;
  }
  .conteudo .assinatura {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 15px;
  }
  .conteudo .assinatura .botao {
    margin-right: auto;
    margin-left: 0;
    padding-top: 20px;
    padding-left: 0;
  }
  .conteudo > .dados > .botoes > button.salvar {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
  .conteudo > .dados > .botoes > button.senha {
    font-size: 0.8rem;
  }
  .conteudo > .noturno {
    flex-direction: row;
  }
  .conteudo > .noturno > app-checkbox {
    min-width: 72px;
    margin: auto;
    margin-left: 10px;
  }
}

@media screen and (max-width: 350px) {
  .conteudo > .dados > .botoes > button.salvar {
    font-size: 0.7rem;
    padding: 8px 15px;
  }
  .conteudo > .dados > .botoes > button.senha {
    font-size: 0.6rem;
  }
}
