/* HEADER
*/

header {
  width: 100%;
  padding: 30px 50px;
}

header .imagem {
  margin-right: 20px;
}

header .imagem img {
  width: 100px;
  border-radius: 50%;
}

header .opcoes a:nth-child(3) {
  display: none;
}

header .titulo p.nome {
  color: var(--c-text-dark);
}

header .titulo p.sobre {
  color: var(--c-text);
}

/* HEADER
*/

@media screen and (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 20px;
  }
  header .imagem {
    margin-right: 0;
    margin-bottom: 20px;
  }
  header .titulo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
}
