/* SAIR
*/

.sair {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.sair p {
  font-family: 'Regular';
  font-size: 1rem;
  padding-right: 20px;
  color: var(--c-text);
}

.sair button {
  font-family: 'Regular';
  font-size: 1rem;
  padding: 5px 20px;
  color: var(--c-white-fixed);
  border-radius: 100px;
  background-color: var(--c-red);
}

.sair button:hover {
  background-color: var(--c-red-dark);
}
