/* ALERTA
*/

app-alerta {
  position: fixed;
  z-index: 3;
  top: 20px;
  left: 50%;
  display: flex;
  visibility: hidden;
  align-items: center;
  flex-direction: row;
  width: auto;
  height: auto;
  min-height: 1em;
  padding: 20px 30px;
  transform: translate(-50%, 0);
  border-radius: 10px;
  box-shadow: 0 1px 20px 0 var(--c-shadow-one), 0 24px 14px var(--c-shadow-two);
  text-align: center;
}

app-alerta * {
  pointer-events: none;
}

app-alerta.mostrar {
  visibility: visible;
  animation: apareceCima 0.5s, fadeOut 0.5s 4.5s;
}

app-alerta.positivo {
  background-color: var(--c-green);
}

app-alerta.negativo {
  background-color: var(--c-red);
}

app-alerta.normal {
  background-color: var(--c-grey-dark);
}

/* DENTRO DO ALERTA
*/

app-alerta p {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-white-fixed);
  text-align: center;
}

/* RESPONSIVO
*/

@media screen and (max-width: 700px) {
  app-alerta {
    top: 0;
    width: 100%;
    padding: 15px 20px;
    border-radius: 0;
  }
  app-alerta p {
    font-size: 0.9rem;
    margin-left: 8px;
  }
}
