/* COMPONENTE CHECKBOX
*/

app-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all ease-out 0.2s;
  border-radius: 100px;
  background-color: var(--c-grey-light);
}

app-checkbox.pequeno {
  width: 46px;
  height: 26px;
}

app-checkbox.grande {
  width: 72px;
  height: 36px;
}

/* FOCUS
*/

app-checkbox:focus {
  outline: none;
}

/* MANIPULADOR
*/

app-checkbox .manipulador {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all ease-out 0.2s;
  border-radius: 100px;
  background-color: var(--c-grey-light);
}

app-checkbox .manipulador.ativo {
  background-color: var(--c-green);
}

app-checkbox.pequeno .manipulador {
  width: 50px;
  height: 25px;
}

app-checkbox.grande .manipulador {
  width: 72px;
  height: 36px;
}

app-checkbox .manipulador .bolinha {
  position: absolute;
  margin-left: 3px;
  border-radius: 100%;
  background-color: var(--c-white-fixed);
}

app-checkbox .manipulador.ativo .bolinha {
  right: 0;
  margin-right: 3px;
}

/* PEQUENO */
app-checkbox.pequeno .manipulador .bolinha {
  width: 20px;
  height: 20px;
}

/* GRANDE */
app-checkbox.grande .manipulador .bolinha {
  width: 30px;
  height: 30px;
}
