/* COR
*/

app-cor {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding-top: 15px;
  pointer-events: none;
}

app-cor > button {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  transition: all 0.3s;
  pointer-events: auto;
  border-radius: 50%;
}

app-cor > button:focus {
  margin-right: 15px;
}

app-cor > button.selecionado {
  transform: scale(1.3);
}

/* CINZA */

app-cor > button.cinza {
  border: 5px solid var(--c-grey);
  background-color: var(--c-grey);
}

app-cor > button.cinza.selecionado {
  background-color: var(--c-white);
}

/* AZUL */

app-cor > button.azul {
  border: 5px solid var(--c-blue);
  background-color: var(--c-blue);
}

app-cor > button.azul.selecionado {
  background-color: var(--c-white);
}

/* VERDE */

app-cor > button.verde {
  border: 5px solid var(--c-green);
  background-color: var(--c-green);
}

app-cor > button.verde.selecionado {
  background-color: var(--c-white);
}

/* AMARELO */

app-cor > button.amarelo {
  border: 5px solid var(--c-yellow);
  background-color: var(--c-yellow);
}

app-cor > button.amarelo.selecionado {
  background-color: var(--c-white);
}

/* VERMELHO */

app-cor > button.vermelho {
  border: 5px solid var(--c-red);
  background-color: var(--c-red);
}

app-cor > button.vermelho.selecionado {
  background-color: var(--c-white);
}

/* ROSA */

app-cor > button.rosa {
  border: 5px solid var(--c-pink);
  background-color: var(--c-pink);
}

app-cor > button.rosa.selecionado {
  background-color: var(--c-white);
}
