/* ITEN VENDAS
*/

app-itens-venda {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 0;
}

app-itens-venda label {
  margin: 0;
}

/* DISABLED
*/

app-itens-venda:disabled,
app-itens-venda:disabled * {
  cursor: none;
  pointer-events: none;
}

/* SELECTO / BOTÃO ADICIONAR
*/

app-itens-venda > .grupo-1 {
  display: flex;
  flex-direction: column;
}

app-itens-venda > .grupo-1 > button.outline {
  font-family: 'Regular';
  font-size: 0.8rem;
  align-self: center;
  padding: 5px 13px;
  color: var(--c-white-fixed);
  border-radius: 20px;
  background-color: var(--c-grey);

  justify-self: center;
}

app-itens-venda > .grupo-1 > button.outline:active {
  background-color: var(--c-blue);
}

/* ITEM DA VENDA
*/

app-itens-venda > .itens > .item {
  padding-top: 20px;
}

app-itens-venda > .itens > .item:nth-child(1) {
  padding-top: 50px;
}

app-itens-venda > .itens > .item > .grupo-1 {
  display: grid;

  grid-gap: 10px;
  grid-template-columns: 4fr 2fr;
}
app-itens-venda > .itens > .item > .grupo-2 {
  display: grid;

  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

/* TITULO DO ITEM
*/
app-itens-venda > .itens > .item > .titulo {
  font-family: 'Regular';
  font-size: 1.1rem;
  margin-bottom: 20px;
  text-align: center;
  color: var(--c-blue);
}

/* INFORMAÇÕES DO ITEM
*/

app-itens-venda > .itens > .item > .info {
  display: flex;
  flex-direction: row;
}

app-itens-venda > .itens > .item > .info > .input_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
}

app-itens-venda > .itens > .item > .info > .input_wrapper:nth-child(1) {
  margin-left: 0;
}

/* QUANTIDADE DO PRODUTO
*/

app-itens-venda > .itens > .item > .info .quantidade {
  font-family: 'Medium';
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 0;
  border-bottom: 2px solid var(--c-input-border);
}

app-itens-venda > .itens > .item > .info .quantidade p {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-text);
}

app-itens-venda > .itens > .item > .info .quantidade button.aumentar,
app-itens-venda > .itens > .item > .info .quantidade button.diminuir {
  font-family: 'Regular';
  font-size: 1.3rem;
  margin: auto;
  pointer-events: auto;
  color: var(--c-text);
  background-color: transparent;
}

app-itens-venda > .itens > .item > .info .quantidade button.aumentar:hover {
  color: var(--c-green);
}

app-itens-venda > .itens > .item > .info .quantidade button.diminuir:hover {
  color: var(--c-red);
}

app-itens-venda[disabled='true'] > .itens > .item > .info .quantidade button.aumentar,
app-itens-venda[disabled='true'] > .itens > .item > .info .quantidade button.diminuir {
  display: none;
}

/* RESPONSIVO
*/

@media screen and (max-width: 500px) {
  app-itens-venda {
    padding-top: 0;
  }

  app-itens-venda > .itens > .item > .titulo {
    font-size: 1rem;
  }

  app-itens-venda > .itens > .item > .info .quantidade > p {
    font-size: 0.8rem;
  }

  app-itens-venda > .itens > .item label {
    font-size: 0.6rem;
  }

  app-itens-venda > .itens > .item input {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 375px) {
  app-itens-venda > .itens > .item label {
    font-size: 0.5rem;
  }
  app-itens-venda > .itens > .item input {
    font-size: 0.7rem;
  }
  app-itens-venda > .itens > .item > .info .quantidade > p {
    font-size: 0.7rem;
  }
}
