/* NOTAS
*/

app-notas {
  display: grid;
  justify-content: stretch;
  width: calc(100% - 60px);

  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* NOTA
*/

app-notas .nota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  transition: all 0.2s;
  border: 1.5px solid var(--c-white);
  border-radius: 0 15px 15px 0;
  background-color: var(--c-base);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

app-notas .nota:hover {
  border: 1.5px solid var(--c-text-border);
}

app-notas .nota * {
  pointer-events: none;
}

app-notas .nota p.titulo {
  font-family: 'Regular';
  font-size: 1.1rem;
  padding-bottom: 5px;
  color: var(--c-text-dark);
}

app-notas .nota p.data {
  font-family: 'Regular';
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  color: var(--c-text);
}

/* CORES
*/

app-notas .nota.vermelho {
  border-left: 3px solid var(--c-red);
}

app-notas .nota.verde {
  border-left: 3px solid var(--c-green);
}

app-notas .nota.azul {
  border-left: 3px solid var(--c-blue);
}

app-notas .nota.amarelo {
  border-left: 3px solid var(--c-yellow);
}

app-notas .nota.cinza {
  border-left: 3px solid var(--c-grey);
}

app-notas .nota.rosa {
  border-left: 3px solid var(--c-pink);
}

/* NOTIFICAR
*/

app-notas .nota.notificar p.data::before {
  font-family: 'Icons';
  font-size: 1rem;
  padding-right: 3px;
  content: '\e010';
  color: var(--c-text);
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  app-notas {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  app-notas {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  app-notas {
    width: calc(100% - 30px);

    grid-template-columns: 1fr;
  }
  app-notas .nota p.titulo {
    font-size: 1rem;
  }
  app-notas .nota {
    border-radius: 0 10px 10px 0;
  }
}
