<header>

  <!-- TITULO -->
  <div class="titulo">
    <p class="nome">Pós-Venda</p>
    <p class="sobre">Controle seu pós-venda</p>
  </div>

  <!-- VOLTAR À VENDAS --->
  <a href="../vendas"><button class="voltar-vendas">Voltar</button></a>

  <!-- OPCOES -->
  <div class="opcoes">
    <a class="ajuda" id="chat_desktop_start"><i class="icon-chat"></i></a>
    <a class="notificacoes" href="/notificacoes"><i class="icon-notificacao"></i><div></div></a>
    <a href="/perfil">
      <img src="https://static.gerenciaconsultor.com/images/plataforma/outros/placeholder-perfil.svg">
      <p id="nome_usuario">&nbsp;</p>
    </a>
  </div>

</header>
