<section class="ocultar" id="modal_universal">

  <!-- TELAS -->
  <div class="telas">

    <!-- TELA INFORMACOES -->
    <div class="tela mostrar" data-id="1">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Pós-Venda</p>
        <p class="descricao">Veja os dados de sua pós-venda</p>
      </div>
      <!-- Id -->
      <input id="id" type="hidden">
      <!-- Cliente -->
      <label>Cliente</label>
      <app-select tabindex="0"></app-select>
      <!-- Itens Pós-Venda -->
      <app-itens-pos-venda></app-itens-pos-venda>

      <!-- BOTOES -->
      <div class="botoes">
        <button class="negativo" id="fechar"><i class="icon-fechar"></i> Fechar</button>
      </div>
    </div>

  </div>
  <div class="opcoes">
    <button class="whatsapp" id="whatsapp">Enviar Whatsapp</button>
  </div>

</section>
