/* LAYOUT
*/

body {
  display: grid;
  min-height: 100vh;

  grid-template-columns: 1fr 1fr;
}

/* AUTENTICACAO
*/

.alterar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--c-white);
}

.senhas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  height: 100%;
  padding: 100px 0;
  -webkit-animation: fadeIn 1s;
     -moz-animation: fadeIn 1s;
      -ms-animation: fadeIn 1s;
       -o-animation: fadeIn 1s;
          animation: fadeIn 1s;
  background-color: var(--c-white);
}

.alterar img {
  max-width: 250px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.alterar input {
  margin-bottom: 20px;
}

.alterar .botoes {
  display: flex;
  width: 100%;
  padding-top: 30px;
}

.alterar button.positivo {
  font-family: 'Regular';
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 10px 20px;
  color: var(--c-white);
  border-radius: 100px;
  background-color: var(--c-primary);
}

.alterar button.positivo i {
  font-size: 1.1rem;
  padding-left: 5px;
}

.alterar button.positivo:hover {
  background-color: var(--c-primary-dark);
}

/* DESIGN
*/

.design {
  width: 100%;
  height: 100%;
  background-color: var(--c-primary);
  background-image: linear-gradient(90deg, #f85508, #cb490b);
  background-image: -webkit-linear-gradient(90deg, #f85508, #cb490b);
  background-image: -moz-linear-gradient(90deg, #f85508, #cb490b);
  background-image: -o-linear-gradient(90deg, #f85508, #cb490b);
}

.design .titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 450px;
  height: 100%;
  margin: 0 auto;
  text-align: left;
}

.design p.principal {
  font-family: 'Medium';
  font-size: 2rem;
  padding-bottom: 20px;
  line-height: 45px;
  color: var(--c-white);
  text-transform: uppercase;
}

.design p.principal span {
  background-color: var(--c-white);
  color: var(--c-primary);
  padding: 5px;
  border-radius: 5px;
}

.design p.descricao {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-white);
  max-width: 400px;
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  body {
    background-color: var(--c-primary);
    grid-template-columns: 1fr;
  }
  .design {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .alterar {
    background-color: var(--c-primary);
  }
  .alterar .entrar {
    border-radius: 0px 0px 40px 40px;
    max-height: 80vh;
  }
  .senhas {
    padding: 100px 20px;
    max-width: 100%;
  }
  .alterar button.positivo {
    font-size: 0.9rem;
    padding: 10px 15px;
  }
  .alterar button.positivo::after {
    font-size: 1rem;
    padding-left: 8px;
  }
  .alterar .botoes {
    padding-top: 20px;
  }
  .alterar img {
    max-width: 200px;
  }
}

@media screen and (max-width: 350px) {
  .alterar button.positivo {
    font-size: 0.8rem;
    padding: 4px 10px;
  }
}
