<section class="ocultar" id="modal_confirmar">

  <!-- TELAS -->
  <div class="telas">

    <!-- TELA INFORMACOES -->
    <div class="tela" data-id="1">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Confirmar Entrega</p>
        <p class="descricao">Deseja realmente confirmar a entrega destes produtos?</p>
      </div>
      <input type="hidden" id="id">
      <!-- BOTOES -->
      <div class="botoes">
        <button class="nao" id="voltar">Não</button>
        <button class="sim" id="confirmar">Sim</button>
      </div>
    </div>
  </div>

</section>
