<section class="ocultar" id="modal_universal">

  <!-- TELAS -->
  <div class="telas">

    <!-- TELA INFORMACOES -->
    <div class="tela" data-id="1">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Entrega Cadastrada</p>
        <p class="descricao">Veja os dados de sua entrega</p>
      </div>
      <!-- Id -->
      <input id="id" type="hidden">
      <!-- Cliente -->
      <label>Cliente</label>
      <app-select tabindex="0"></app-select>
      <!-- Data -->
      <label>Data da Encomenda</label>
      <app-date-picker id="data" tabindex="0"></app-date-picker>
      <!-- ITENS DA VENDA -->
      <app-itens-venda></app-itens-venda>
      <!-- BOTOES -->
      <div class="botoes">
        <button class="negativo" id="fechar"><i class="icon-fechar"></i> Fechar</button>
      </div>
    </div>
  </div>

  <div class="opcoes">
    <button class="confirmar" id="confirmar">Confirmar Entrega</button>
    <button class="cancelar ocultar" id="cancelar">Cancelar Entrega</button>
    <button class="alterar" id="alterar">Alterar Data</button>
  </div>

</section>
