<section class="ocultar" id="modal_alterar">

  <!-- TELAS -->
  <div class="telas">
    <!-- TELA INFORMACOES -->
    <div class="tela" data-id="1">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Alterar Data da Entrega</p>
        <p class="descricao">Faça a alteração da data de sua entrega</p>
      </div>
      <!-- Id -->
      <input id="id" type="hidden">
      <!-- Data Atual -->
      <label>Data Atual <span class="required">*</span> </label>
      <app-date-picker id="data" tabindex="0"></app-date-picker>
      <!-- Data Nova -->
      <label>Data Nova <span class="required">*</span> </label>
      <app-date-picker id="data_nova" tabindex="0"></app-date-picker>
      <!-- BOTOES -->
      <div class="botoes">
        <button class="negativo" id="voltar"><i class="icon-seta-esquerda"></i> Voltar</button>
        <button class="positivo" id="editar">Editar</button>
      </div>
    </div>
  </div>
</section>
