<section class="ocultar" id="modal_cancelar">

  <!-- TELAS -->
  <div class="telas">

    <!-- TELA INFORMACOES -->
    <div class="tela" data-id="1">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Cancelar Entrega</p>
        <p class="descricao">Deseja realmente cancelar a entrega feita?</p>
      </div>
      <input type="hidden" id="id">
      <p class="texto">&nbsp;</p>
      <!-- BOTOES -->
      <div class="botoes">
        <button class="nao" id="voltar">Não</button>
        <button class="sim" id="cancelar">Sim</button>
      </div>
    </div>
  </div>

</section>
