<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Erro - Gerencia Consultor</title>

  {{> metatags}}
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#fc4c4c">
  <meta name="msapplication-TileColor" content="#fc4c4c">
  <meta name="msapplication-navbutton-color" content="#fc4c4c">
  <meta name="apple-mobile-web-app-status-bar-style" content="#fc4c4c">

  <!-- DNS -->
  <link rel="dns-prefetch" href="app.gerenciabeleza.com">
  <link rel="dns-prefetch" href="static.gerenciaconsultor.com">

  <!-- Robots -->
  <meta name="robots" content="none">

  <!-- CSS -->
  <link href="../../../../static/css/erro.css?v={{versao.css}}" rel="stylesheet">
  <script src="https://static.gerenciaconsultor.com/js/modo-noturno.js"></script>
</head>

<body>

  <main>

    <!-- MAIN -->
    {{> main}}

  </main>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169310836-3"></script>
  <script defer src="https://static.gerenciaconsultor.com/js/google-analises.js"></script>

</body>

</html>
