/* HEADER
*/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 20px;
}

.header p.titulo {
  font-family: 'Medium';
  font-size: 1.6rem;
  color: var(--c-green);
}

.header p.subtitulo {
  font-family: 'Medium';
  font-size: 3rem;
  color: var(--c-green);
  line-height: 35px;
  padding-bottom: 20px;
}

.header p.descricao {
  font-family: 'Regular';
  font-size: 1.1rem;
  color: var(--c-text);
  max-width: 500px;
  padding-bottom: 20px;
}

.header button {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-white);
  background-color: var(--c-green);
  padding: 6px 15px;
  border-radius: 100px;
}

.header button:hover {
  background-color: var(--c-green-dark);
}


/* RESPONSIVO
*/

@media screen and (max-width: 600px) {
  .header p.titulo {
    font-size: 1.3rem;
  }
  .header p.subtitulo {
    font-size: 2.6rem;
    line-height: 35px;
  }
  .header p.descricao {
    font-size: 1rem;
  }
}
