/* OPCOES
*/

.opcoes {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 100px 20px;
  align-items: center;
  justify-content: center;
}

.opcoes p.sobre {
  font-family: 'Regular';
  font-size: 1.1rem;
  color: var(--c-text);
  padding-bottom: 20px;
  text-align: center;
  max-width: 200px;
}

/* QUADROS
*/

.opcoes .quadros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  max-width: 900px;
}

.opcoes .quadros .quadro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  text-align: left;
  max-width: 400px;
  padding: 40px 20px;
  border-radius: 10px;
  background-color: var(--c-white);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

.opcoes .quadros .quadro.black {
  border-top: 5px solid var(--c-black);
}

.opcoes .quadros .quadro.app {
  border-top: 5px solid var(--c-primary);
}

.opcoes .quadros .quadro.suporte {
  border-top: 5px solid var(--c-blue);
}

.opcoes .quadros .quadro.afiliado {
  border-top: 5px solid var(--c-green);
}

.opcoes .quadros .quadro p.titulo {
  font-family: 'Medium';
  font-size: 1.5rem;
  color: var(--c-text-dark);
  padding-bottom: 10px;
}

.opcoes .quadros .quadro p.descricao {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-text);
  padding-bottom: 10px;
}

/* RESPONSIVO
*/

@media screen and (max-width: 600px) {
  .opcoes .quadros {
    grid-template-columns: 1fr;
  }
}
