<section class="menu">
  <!-- FILTROS -->
  <div class="filtros buscar_anotacao">
    <div class="pesquisa">
      <input class="search" spellcheck="false" autocomplete="false" placeholder="Buscar uma anotação...">
    </div>
  </div>
  <!-- DATE SELECT -->
  <app-date-select></app-date-select>
</section>
