<section class="ocultar" id="modal_adicionar">

  <!-- TELAS -->
  <div class="telas">

    <!-- TELA INFORMACOES -->
    <div class="tela" data-id="1">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Nova Anotação</p>
        <p class="descricao">Adicione uma anotação em sua quadro</p>
      </div>
      <!-- Título -->
      <label>Título <span class="required">*</span> </label>
      <input spellcheck="false" id="titulo" autocomplete="off" type="text" placeholder="Qual título da sua anotação?">
      <!-- Texto -->
      <label>Texto da Anotação <span class="required">*</span> </label>
      <textarea spellcheck="false" id="conteudo" rows="10" placeholder="Escreva o texto de sua anotação..."></textarea>
      <!-- Cor -->
      <label class="cor">Cor da Anotação</label>
      <app-cor></app-cor>
      <!-- Data -->
      <label id="lembrete"> Você quer ser lembrado dessa anotação?
        <app-checkbox class="pequeno" tabindex="0"></app-checkbox>
      </label>
      <app-date-picker tabindex="0"></app-date-picker>
      <!-- BOTOES -->
      <div class="botoes">
        <button class="negativo" id="fechar"><i class="icon-fechar"></i>Fechar</button>
        <button class="positivo" id="adicionar">Adicionar</button>
      </div>
    </div>

  </div>

</section>
