<section class="ocultar" id="modal_repor">

  <!-- TELAS -->
  <div class="telas">

    <!-- TELA INFORMACOES -->
    <div class="tela" data-id="1">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Comprar Produto</p>
        <p class="descricao">Adicione mais unidades desse produto</p>
      </div>
      <!-- Produto -->
      <label class="comselect">Produto <span class="required">*</span> </label>
      <app-select disabled="true"></app-select>
      <!-- Quantidade comprada -->
      <label>Quantidade comprada <span class="required">*</span> </label>
      <input spellcheck="false" id="quantidade" autocomplete="off" type="tel" placeholder="Quantas unidades comprou?">
      <!-- Componente Pagamento -->
      <app-pagamento tabindex="0"></app-pagamento>
      <!-- BOTOES -->
      <div class="botoes">
        <button class="voltar" id="voltar"><i class="icon-seta-esquerda"></i> Voltar</button>
        <button class="positivo" id="repor">Adicionar</button>
      </div>
    </div>

  </div>

</section>
