<section class="ocultar" id="modal_universal">

  <!-- TELAS -->
  <div class="telas">
    <!-- TELA INFORMACOES -->
    <div class="tela" data-id="1">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Produto Cadastrado</p>
        <p class="descricao">Veja os dados salvos de seu Produto</p>
      </div>
      <!-- Id -->
      <input id="id" type="hidden">
      <!-- Nome -->
      <label>Nome <span class="required">*</span> </label>
      <input spellcheck="false" id="nome" autocomplete="off" type="text" placeholder="Qual o nome do produto?">
      <!-- Categoria -->
      <label>Categoria</label>
      <input spellcheck="false" id="categoria" autocomplete="off" type="text"
        placeholder="Qual a categoria desse produto?">
      <!-- Preço Custo -->
      <label>Preço de Custo <span class="required">*</span> </label>
      <input spellcheck="false" id="preco_custo" autocomplete="off" type="text"
        placeholder="Quanto você paga no produto?" data-mask-money="true">
      <!-- Preço -->
      <label>Preço de Venda <span class="required">*</span> </label>
      <input spellcheck="false" id="preco_venda" autocomplete="off" type="text" placeholder="Qual o preço do produto?"
        data-mask-money="true">
      <!-- Duração -->
      <label>Duração em Dias <span class="required">*</span> </label>
      <input spellcheck="false" id="duracao" autocomplete="off" type="tel" placeholder="Quantos dias o produto dura?">
      <!-- ESTOQUE -->
      <label id="estoque"> Você guarda esse produto em estoque?
        <app-checkbox class="pequeno" tabindex="0"></app-checkbox>
      </label>
      <div class="estoque_wrapper ocultar">
        <!-- Quantidade -->
        <label>Quantidade <span class="required">*</span> </label>
        <input spellcheck="false" id="quantidade" autocomplete="off" type="tel"
          placeholder="Quantas unidades tem no estoque?">
        <!-- Mínimo -->
        <label>Quantidade Mínima</label>
        <input spellcheck="false" id="quantidade_minima" autocomplete="off" type="tel"
          placeholder="Qual quantidade mínima desse produto?">
      </div>
      <!-- BOTOES -->
      <div class="botoes">
        <button class="negativo" id="fechar"><i class="icon-fechar"></i> Fechar</button>
        <button class="positivo" id="editar">Editar</button>
      </div>
    </div>
  </div>

  <div class="opcoes">
    <button class="deletar" id="deletar">Deletar</button>
    <button class="repor" id="repor">Repor</button>
  </div>

</section>
