<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Vendas - Gerencia Consultor</title>

  {{> metatags}}
  <link rel="manifest" href="../site.webmanifest">
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#5794ff">
  <meta name="msapplication-TileColor" content="#5794ff">
  <meta name="msapplication-navbutton-color" content="#5794ff">
  <meta name="apple-mobile-web-app-status-bar-style" content="#5794ff">

  <!-- DNS -->
  <link rel="dns-prefetch" href="app.gerenciabeleza.com">
  <link rel="dns-prefetch" href="static.gerenciaconsultor.com">

  <!-- Robots -->
  <meta name="robots" content="none">

  <!-- CSS -->
  <link href="../../static/css/vendas.css?v={{versao.css}}" rel="stylesheet">
  <script src="https://static.gerenciaconsultor.com/js/modo-noturno.js"></script>
</head>

<body>

  <!-- NAVBAR -->
  {{> navbar}}

  <!-- ASIDE -->
  {{> aside}}

  <main>

    <!-- HEADER -->
    {{> header}}

    <!-- MENU -->
    {{> menu}}

    <!-- VENDAS -->
    <app-vendas></app-vendas>

  </main>

  <!-- MODALS -->
  <section class="modal">
    <div class="conteudo">

      <!-- MODAL ADICIONAR -->
      {{> modal-adicionar}}

      <!-- MODAL VISUALIZAR -->
      {{> modal-visualizar}}

    </div>
  </section>

  <!-- ALERTA -->
  <app-alerta></app-alerta>

  <!-- JS -->
  <script defer src="../../static/js/pages/vendas.js?v={{versao.js}}"></script>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169310836-3"></script>
  <script defer src="https://static.gerenciaconsultor.com/js/google-analises.js"></script>

</body>

</html>
