<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Perfil - Gerencia Consultor</title>

  {{> metatags}}
  <link rel="manifest" href="./site.webmanifest">
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#181818">
  <meta name="msapplication-TileColor" content="#181818">
  <meta name="msapplication-navbutton-color" content="#181818">
  <meta name="apple-mobile-web-app-status-bar-style" content="#181818">

  <!-- DNS -->
  <link rel="dns-prefetch" href="app.gerenciabeleza.com">
  <link rel="dns-prefetch" href="static.gerenciaconsultor.com">

  <!-- Robots -->
  <meta name="robots" content="none">

  <!-- CSS -->
  <link href="./static/css/perfil.css?v={{versao.css}}" rel="stylesheet">
  <script src="https://static.gerenciaconsultor.com/js/modo-noturno.js"></script>
</head>

<body>

  <!-- NAVBAR -->
  {{> navbar}}

  <!-- ASIDE -->
  {{> aside}}

  <main>

    <!-- HEADER -->
    {{> header}}

    <!-- CONTEUDO -->
    {{> conteudo}}

    <section class="sair">
      <p>Deseja sair do sistema?</p><button>Sair</button>
    </section>

  </main>

  <!-- MODALS -->
  <section class="modal">
    <div class="conteudo">

      <!-- MODAL VISUALIZAR -->
      {{> modal-senha}}

    </div>
  </section>

  <!-- ALERTA -->
  <app-alerta></app-alerta>

  <!-- JS -->
  <script defer src="./static/js/pages/perfil.js?v={{versao.js}}"></script>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169310836-3"></script>
  <script defer src="https://static.gerenciaconsultor.com/js/google-analises.js"></script>

</body>

</html>
