/* LISTA VAZIA
*/

app-lista ul:empty:not(:focus):before {
  content: 'Nenhuma despesa cadastrado! Clique no + no topo da página para adicionar uma despesa.';
}

app-lista .item .info .icone-tela.despesas::before {
  content: '\e017';
}

app-lista .item:hover div .icone::before,
app-lista .item:hover div .icone-tela::before {
  transition: all 0.3s;
  color: var(--c-red);
}
