<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Nova Senha - Gerencia Consultor</title>

  {{> metatags}}
  <link rel="manifest" href="../../site.webmanifest">
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#F85508">
  <meta name="msapplication-TileColor" content="#F85508">
  <meta name="msapplication-navbutton-color" content="#F85508">
  <meta name="apple-mobile-web-app-status-bar-style" content="#F85508">

  <!-- DNS -->
  <link rel="dns-prefetch" href="app.gerenciabeleza.com">
  <link rel="dns-prefetch" href="static.gerenciaconsultor.com">

  <!-- CSS -->
  <link href="../../static/css/nova-senha.css?v={{versao.css}}" rel="stylesheet">
</head>

<body>

  <!-- DESIGN -->
  {{> design}}

  <!-- ALTERAR -->
  <section class="alterar">

    <!-- INPUTS -->
    {{> inputs}}

  </section>

  <!-- ALERTA -->
  <app-alerta></app-alerta>

  <!-- JS -->
  <script defer src="../../static/js/pages/nova-senha.js?v={{versao.js}}"></script>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169310836-3"></script>
  <script defer src="https://static.gerenciaconsultor.com/js/google-analises.js"></script>

</body>

</html>
