<section class="ocultar" id="modal_universal">

  <!-- TELAS -->
  <div class="telas">

    <!-- TELA INFORMACOES -->
    <div class="tela mostrar" data-id="1">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Cliente Cadastrado</p>
        <p class="descricao">Veja os dados salvos de seu cliente</p>
      </div>
      <!-- Id -->
      <input id="id" type="hidden">
      <!-- Nome -->
      <label>Nome <span class="required">*</span> </label>
      <input spellcheck="false" id="nome" autocomplete="off" type="text" placeholder="Qual o nome do cliente?">
      <!-- Telefone -->
      <label>Telefone <span class="required">*</span> </label>
      <input spellcheck="false" id="telefone" autocomplete="off" type="tel" data-mask-phone="true"
        placeholder="Qual o telefone do cliente?">
      <!-- Data Nascimento -->
      <label>Data de Nascimento</label>
      <input spellcheck="false" id="data_nascimento" autocomplete="off" type="tel" data-mask="##/##/####"
        placeholder="Quando o cliente nasceu?">
      <!-- Observacao -->
      <label>Observação</label>
      <input spellcheck="false" id="observacao" autocomplete="off" type="text" placeholder="Alguma observação?">
      <!-- BOTOES -->
      <div class="botoes">
        <button class="negativo" id="fechar"><i class="icon-fechar"></i> Fechar</button>
        <button class="avancar" id="avancar">Avançar <i class="icon-seta-direita"></i></button>
      </div>
    </div>

    <!-- TELA ENDERECO -->
    <div class="tela" data-id="2">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Cliente Cadastrado</p>
        <p class="descricao">Veja o endereço salvo de seu cliente</p>
      </div>
      <!-- CEP -->
      <label>CEP</label>
      <input spellcheck="false" id="cep" autocomplete="off" type="tel" data-mask="##.###-###"
        placeholder="Qual o CEP do cliente?">
      <!-- Estado -->
      <label class="comselect">Estado</label>
      <app-select tabindex="0"></app-select>
      <!-- Cidade -->
      <label>Cidade</label>
      <input spellcheck="false" id="cidade" autocomplete="off" type="text" placeholder="Qual a cidade?">
      <!-- Bairro -->
      <label>Bairro</label>
      <input spellcheck="false" id="bairro" autocomplete="off" type="text" placeholder="Qual o bairro?">
      <!-- Rua -->
      <label>Rua</label>
      <input spellcheck="false" id="rua" autocomplete="off" type="text" placeholder="Qual a rua?">
      <!-- Número -->
      <label>Número</label>
      <input spellcheck="false" id="numero" autocomplete="off" type="tel" placeholder="Qual o número?">
      <!-- BOTOES -->
      <div class="botoes">
        <button class="voltar" id="voltar"><i class="icon-seta-esquerda"></i>Voltar</button>
        <button class="positivo" id="editar">Editar</button>
      </div>
    </div>
  </div>
  <div class="opcoes">
    <button class="deletar" id="deletar">Deletar</button>
  </div>

</section>
