<section class="base assinante">
  <div class="suporte">
    <p>Precisa de ajuda? Fale com nosso suporte clicando aqui.</p>
  </div>
  <a class="voltar">Ir para o sistema</a>
  <div class="texto">
    <h2>ASSINATURA</h2>
    <h3>BLACK</h3>
    <p class="status">Você é um assinante Black!</p>
  </div>
  <div class="imagem">
    <img src="https://static.gerenciaconsultor.com/images/plataforma/tela-assinatura/mulher-computador-assinante.svg">
  </div>
  <div class="divisor">
    <img src="https://static.gerenciaconsultor.com/images/plataforma/tela-assinatura/divisao.svg">
  </div>
</section>
