<section class="base expirado">
  <div class="suporte">
    <p>Precisa de ajuda? Fale com nosso suporte clicando aqui.</p>
  </div>
  <div class="texto">
    <h2>ASSINATURA</h2>
    <h3>BLACK</h3>
    <p>Seu plano Black está expirado por falta de pagamento!</p>
    <p class="aviso">Para voltar a utilizar todos os recursos do sistema faça sua assinatura novamente.</p>
    <div class="botoes">
      <button class="assinar">Assinar Agora</button>
      <button class="sair">Sair do sistema</button>
    </div>
  </div>
  <div class="imagem">
    <img src="https://static.gerenciaconsultor.com/images/plataforma/tela-assinatura/mulher-computador-expirado.svg">
  </div>
  <div class="divisor">
    <img src="https://static.gerenciaconsultor.com/images/plataforma/tela-assinatura/divisao.svg">
  </div>
</section>
