<section class="base inicial mostrar">
  <div class="suporte">
    <p>Precisa de ajuda? Fale com nosso suporte clicando aqui.</p>
  </div>
  <div class="texto">
    <h2>ASSINATURA</h2>
    <h3>BLACK</h3>
    <p>Agora que você criou sua conta, faça a assinatura do sistema para utilizar todos os recursos disponíveis!</p>
    <p class="garantia">Se em 15 dias você sentir que o sistema não o ajudou devolvemos 100% do valor investido.</p>
    <div class="botoes">
      <button class="assinar">Assinar Agora</button>
      <button class="sair">Sair do sistema</button>
    </div>
  </div>
  <div class="imagem">
    <img src="https://static.gerenciaconsultor.com/images/plataforma/tela-assinatura/mulher-computador-inicial.svg">
  </div>
  <div class="divisor">
    <img src="https://static.gerenciaconsultor.com/images/plataforma/tela-assinatura/divisao.svg">
  </div>
</section>
