<form id="pagseguro" action="https://pagseguro.uol.com.br/pre-approvals/request.html" method="post">
  <input type="hidden" name="code" value="45CDA4887F7F9B2774942F8CAE78CEE1">
  <input type="hidden" name="iot" value="button">
  <input type="hidden" name="reference" value="">
</form>
