header > a {
  margin-left: 20px;
}

header > a > button.voltar-vendas {
  font-family: 'Medium';
  font-size: 0.9rem;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  color: var(--c-white-fixed);
  border-radius: 10px;
  background-color: var(--c-button-gray);
}

header > a > button.voltar-vendas:hover {
  background-color: var(--c-button-gray-dark);
}

/* RESPONSIVO
*/

@media screen and (max-width: 600px) {
  header > a > button.voltar-vendas {
    font-size: 0.8rem;
    min-width: 60px;
    padding: 8px 10px;
  }
}
