/* LISTA VAZIA
*/

app-lista ul:empty:not(:focus):before {
  content: 'Você não tem nenhuma encomenda agendada no momento!';
}

app-lista .item .info .icone-tela.encomendas::before {
  content: '\e002';
}

app-lista .item .info p.principal span.data {
  font-family: 'Regular';
  font-size: 0.9rem;
  transition: all 0.3s;
  color: var(--c-blue);
}

app-lista .item.entregue .info p.secundario {
  color: var(--c-green);
}
