/* MODALS
*/

/* BOTÃO CONFIRMAR */
.modal > .conteudo > section > .opcoes > button.confirmar {
  background-color: var(--c-green);
}
.modal > .conteudo > section > .opcoes > button.confirmar:hover {
  background-color: var(--c-green-dark);
}

/* BOTÃO ALTERAR */
.modal > .conteudo > section > .opcoes > button.alterar {
  background-color: var(--c-button-gray);
}
.modal > .conteudo > section > .opcoes > button.alterar:hover {
  background-color: var(--c-button-gray-dark);
}

/* BOTÃO CANCELAR */
.modal > .conteudo > section > .opcoes > button.cancelar {
  background-color: var(--c-red);
}

.modal > .conteudo > section > .opcoes > button.cancelar:hover {
  background-color: var(--c-red-dark);
}

/* MODAL CONFIRMAR E CANCELAR
*/

.modal > .conteudo > section#modal_confirmar,
.modal > .conteudo > section#modal_cancelar {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.modal > .conteudo > section#modal_confirmar > .telas > .tela > .botoes,
.modal > .conteudo > section#modal_cancelar > .telas > .tela > .botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.modal > .conteudo > section > .telas > .tela > .botoes > button.sim,
.modal > .conteudo > section > .telas > .tela > .botoes > button.nao {
  font-family: 'Regular';
  font-size: 1rem;
  padding: 7px 20px;
  color: var(--c-white-fixed);
  border-radius: 100px;
}

/* Botão Não */
.modal > .conteudo > section > .telas > .tela > .botoes > button.nao {
  margin-right: 15px;
  background-color: var(--c-button-gray);
}

.modal > .conteudo > section > .telas > .tela > .botoes > button.nao:hover {
  background-color: var(--c-button-gray-dark);
}

/* Button Sim Cancelar */
.modal > .conteudo > section#modal_cancelar > .telas > .tela > .botoes > button.sim {
  background-color: var(--c-red);
}

.modal > .conteudo > section#modal_cancelar > .telas > .tela > .botoes > button.sim:hover {
  background-color: var(--c-red-light);
}

/* Button Sim Confirmar */
.modal > .conteudo > section#modal_confirmar > .telas > .tela > .botoes > button.sim {
  background-color: var(--c-green);
}

.modal > .conteudo > section#modal_confirmar > .telas > .tela > .botoes > button.sim:hover {
  background-color: var(--c-green-light);
}

/* MODAL UNIVERSAL */
.modal > .conteudo > section#modal_universal > .telas > .tela > app-itens-venda > .itens > .item:nth-child(1) {
  padding-top: 20px;
}

.modal > .conteudo > section#modal_universal > .telas > .tela > app-itens-venda > .grupo-1 {
  display: none;
}

.modal > .conteudo {
  padding-bottom: 300px;
}
