/* LISTA VAZIA
*/

app-lista ul:empty:not(:focus):before {
  content: 'Nenhum cliente cadastrado! Clique no + no topo da página para adicionar um cliente.';
}

app-lista .item .info .icone-tela.clientes::before {
  content: '\e006';
}
