/* LISTA VAZIA
*/

app-lista ul:empty:not(:focus):before {
  content: 'Nenhuma receita cadastrado! Clique no + no topo da página para adicionar uma receita.';
}

app-lista .item .info .icone-tela.receitas::before {
  content: '\e018';
}

app-lista .item:hover div .icone::before,
app-lista .item:hover div .icone-tela::before {
  transition: all 0.3s;
  color: var(--c-green);
}
