/* RECEITAS E DESPESAS
*/

.modal .despesas .botao button.positivo {
  font-family: 'Regular';
  font-size: 1rem;
  margin-left: auto;
  padding: 10px 30px;
  color: var(--c-white-fixed);
  border-radius: 100px;
  background-color: var(--c-red);
}

.modal .despesas .botao button.positivo:hover {
  background-color: var(--c-red-light);
}

.modal .conteudo.receitas {
  border-top: 10px solid var(--c-green);
}

.modal .conteudo.despesas {
  border-top: 10px solid var(--c-red);
}

.modal > .conteudo {
  padding-bottom: 300px;
}
