<div class="lucro">
  <div>
    <p class="texto">Total em receitas</p>
    <span class="valor verde" id="total_receitas">&nbsp;</span>
  </div>
  <div>
    <p class="texto">Total em despesas</p>
    <span class="valor vermelho" id="total_despesas">&nbsp;</span>
  </div>
  <div>
    <p class="texto">Seu lucro até agora</p>
    <span class="valor cinza" id="total_lucro">&nbsp;</span>
  </div>
</div>
