<section class="menu">
  <app-date-select></app-date-select>
  <div class="botoes">
    <div class="receitas">
      <a href="/financeiro/receitas"><button>Receitas</button></a>
    </div>
    <div class="despesas">
      <a href="/financeiro/despesas"><button>Despesas</button></a>
    </div>
  </div>
</section>
