<div class="receitas">
  <p class="titulo">Receitas</p>
  <p class="subtitulo">Todos os seus ganhos</p>
  <svg width="100%" height="100%" viewBox="0 0 42 42" class="donut">
    <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="transparent"></circle>
    <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="var(--c-grey-light)"
      stroke-width="3"></circle>
    <circle id="receitas_grafico_dinheiro" class="donut-segment" cx="21" cy="21" r="15.91549430918954"
      fill="transparent" stroke="var(--c-green)" stroke-width="3" stroke-dasharray="0 100"></circle>
    <circle id="receitas_grafico_credito" class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
      stroke="var(--c-green-darker)" stroke-width="3.1" stroke-dasharray="0 100"></circle>
    <circle id="receitas_grafico_debito" class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
      stroke="var(--c-green-darkest)" stroke-width="3.2" stroke-dasharray="0 100"></circle>
    <circle id="receitas_grafico_boleto" class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent"
      stroke="var(--c-green-lightest)" stroke-width="3.3" stroke-dasharray="0 100"></circle>
  </svg>
  <div class="tabela">
    <div>
      <span class="verde"></span>
      <p>Dinheiro</p>
      <p class="valor" id="receitas_valor_dinheiro">&nbsp;</p>
    </div>
    <div>
      <span class="verde-medio"></span>
      <p>Crédito</p>
      <p class="valor" id="receitas_valor_credito">&nbsp;</p>
    </div>
    <div>
      <span class="verde-escuro"></span>
      <p>Débito</p>
      <p class="valor" id="receitas_valor_debito">&nbsp;</p>
    </div>
    <div>
      <span class="verde-claro"></span>
      <p>Boleto</p>
      <p class="valor" id="receitas_valor_boleto">&nbsp;</p>
    </div>
  </div>
</div>
