.bolinhas {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 160px;
}
.bolinhas div {
  position: absolute;
  width: 10px;
  height: 10px;
  animation: bolinhasLoading 1.2s linear infinite;
  border-radius: 50%;
  background: #FFFFFF;
}
.bolinhas div:nth-child(1) {
  top: 74px;
  left: 132px;
  animation-delay: 0s;
}
.bolinhas div:nth-child(2) {
  top: 44px;
  left: 124px;
  animation-delay: -0.1s;
}
.bolinhas div:nth-child(3) {
  top: 22px;
  left: 104px;
  animation-delay: -0.2s;
}
.bolinhas div:nth-child(4) {
  top: 14px;
  left: 74px;
  animation-delay: -0.3s;
}
.bolinhas div:nth-child(5) {
  top: 22px;
  left: 44px;
  animation-delay: -0.4s;
}
.bolinhas div:nth-child(6) {
  top: 44px;
  left: 22px;
  animation-delay: -0.5s;
}
.bolinhas div:nth-child(7) {
  top: 74px;
  left: 14px;
  animation-delay: -0.6s;
}
.bolinhas div:nth-child(8) {
  top: 104px;
  left: 22px;
  animation-delay: -0.7s;
}
.bolinhas div:nth-child(9) {
  top: 124px;
  left: 44px;
  animation-delay: -0.8s;
}
.bolinhas div:nth-child(10) {
  top: 132px;
  left: 74px;
  animation-delay: -0.9s;
}
.bolinhas div:nth-child(11) {
  top: 124px;
  left: 104px;
  animation-delay: -1s;
}
.bolinhas div:nth-child(12) {
  top: 104px;
  left: 124px;
  animation-delay: -1.1s;
}
