/* LAYOUT
*/

body {
  display: grid;
  min-height: 100vh;

  grid-template-columns: 1fr 1fr;
}

/* CARREGANDO
*/

.carregando {
  position: absolute;
  z-index: 5;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeIn 1s;
     -moz-animation: fadeIn 1s;
      -ms-animation: fadeIn 1s;
       -o-animation: fadeIn 1s;
          animation: fadeIn 1s;
  text-align: center;
  background-color: var(--c-primary);
  background-image: url('https://static.gerenciaconsultor.com/images/plataforma/tela-autenticacao/background-hexagonos.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.carregando p {
  font-family: 'Regular';
  font-size: 1.2rem;
  padding-top: 10px;
  color: var(--c-white);
}

/* AUTENTICACAO
*/

.autenticacao {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--c-white);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

.entrar,
.registrar {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  height: 100%;
  padding: 100px 0;
  -webkit-animation: fadeIn 1s;
     -moz-animation: fadeIn 1s;
      -ms-animation: fadeIn 1s;
       -o-animation: fadeIn 1s;
          animation: fadeIn 1s;
  background-color: var(--c-white);
}

.ativo {
  display: flex;
}

.autenticacao img {
  max-width: 250px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.autenticacao input {
  margin-bottom: 20px;
}

.autenticacao .botoes {
  display: flex;
  width: 100%;
  padding-top: 30px;
}

.autenticacao button.contrario {
  font-family: 'Regular';
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-right: auto;
  color: var(--c-primary);
  background-color: transparent;
}

.autenticacao button.contrario i {
  font-size: 1.5rem;
  padding-right: 5px;
  color: var(--c-primary);
}

.autenticacao button.contrario:hover,
.autenticacao button.contrario:hover i {
  color: var(--c-primary-dark);
}

.autenticacao button.positivo {
  font-family: 'Regular';
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 10px 20px;
  color: var(--c-white);
  border-radius: 100px;
  background-color: var(--c-primary);
}

.autenticacao button.positivo i {
  font-size: 1.1rem;
  padding-left: 5px;
}

.autenticacao button.positivo:hover {
  background-color: var(--c-primary-dark);
}

.autenticacao button.esqueceu {
  font-family: 'Regular';
  font-size: 0.8rem;
  color: var(--c-text);
  background-color: transparent;
  margin: 0 auto;
}

.autenticacao button.esqueceu:hover {
  color: var(--c-text-light);
}

/* DESIGN
*/

.design {
  width: 100%;
  height: 100%;
  background-color: var(--c-body);
}

.design .titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 450px;
  height: 100%;
  margin: 0 auto;
  text-align: left;
}

.design p.principal {
  font-family: 'Medium';
  font-size: 2rem;
  padding-bottom: 20px;
  line-height: 45px;
  color: var(--c-text-dark);
  text-transform: uppercase;
}

.design p.principal span {
  background-color: var(--c-primary);
  color: var(--c-white);
  padding: 5px;
  border-radius: 5px;
}

.design p.descricao {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-text);
  max-width: 400px;
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  body {
    background-color: var(--c-primary);
    grid-template-columns: 1fr;
  }
  .design {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .autenticacao {
    background-color: var(--c-primary);
  }
  .autenticacao .entrar {
    border-radius: 0px 0px 40px 40px;
    max-height: 80vh;
  }
  .entrar,
  .registrar {
    padding: 100px 20px;
    max-width: 100%;
  }
  .autenticacao button.contrario {
    font-size: 0.9rem;
  }
  .autenticacao button.contrario::before {
    font-size: 1.2rem;
    padding-right: 5px;
  }
  .autenticacao button.positivo {
    font-size: 0.9rem;
    padding: 10px 15px;
  }
  .autenticacao button.positivo::after {
    font-size: 1rem;
    padding-left: 8px;
  }
  .autenticacao .botoes {
    padding-top: 20px;
  }
  .autenticacao img {
    max-width: 200px;
  }
}

@media screen and (max-width: 350px) {
  .autenticacao button.contrario {
    font-size: 0.8rem;
  }
  .autenticacao button.positivo {
    font-size: 0.8rem;
    padding: 4px 10px;
  }
}
