/* APRESENTACAO
*/

section.apresentacao {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: calc(100% - 60px);
  height: auto;
  padding: 50px 0;
}

/* APRESENTACAO
*/

section.apresentacao .perfil {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 80%;
  height: 100%;
  padding-right: 20px;
}

section.apresentacao .perfil .info {
  padding-left: 20px;
}

section.apresentacao .perfil .info p.nome {
  font-family: 'Medium';
  font-size: 1.3rem;
  padding-bottom: 3px;
  color: var(--c-text-dark);
}

section.apresentacao .perfil .info p.status {
  font-family: 'Regular';
  font-size: 0.9rem;
  color: var(--c-text);
}

section.apresentacao .perfil img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

/* SUPORTE E NOTIFICACOES
*/

section.apresentacao .opcoes {
  display: flex;
  flex-direction: row;
  height: 100%;
}

section.apresentacao .opcoes .notificacoes {
  margin-right: 20px;
}

section.apresentacao .opcoes .notificacoes,
section.apresentacao .opcoes .suporte {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 30px 20px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--c-base);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

section.apresentacao .opcoes .notificacoes p,
section.apresentacao .opcoes .suporte p {
  font-family: 'Regular';
  font-size: 0.9rem;
  padding-top: 10px;
  color: var(--c-text);
}

section.apresentacao .opcoes .notificacoes i,
section.apresentacao .opcoes .suporte i {
  font-size: 3rem;
  color: var(--c-grey-light);
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  section.apresentacao {
    flex-direction: column;
    padding: 50px 0 20px 0;
  }
  section.apresentacao .perfil {
    flex-direction: column;
    width: 100%;
    padding-right: 0;
    padding-bottom: 50px;
  }
  section.apresentacao .perfil .info {
    padding-top: 20px;
    padding-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  section.apresentacao {
    width: calc(100% - 30px);
    padding: 50px 0 15px 0;
  }
  section.apresentacao .opcoes .notificacoes,
  section.apresentacao .opcoes .suporte {
    padding: 25px 15px;
  }
  section.apresentacao .opcoes .notificacoes p,
  section.apresentacao .opcoes .suporte p {
    font-size: 0.8rem;
  }
  section.apresentacao .opcoes .notificacoes i,
  section.apresentacao .opcoes .suporte i {
    font-size: 2.8rem;
  }
  section.apresentacao .opcoes .notificacoes {
    margin-right: 15px;
  }
}
