/* ATALHOS
*/

section.atalhos {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 60px);
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}

/* ATALHOS
*/

section.atalhos .opcoes {
  display: grid;
  width: 100%;

  grid-gap: 5px;
  grid-template-columns: repeat(14, 1fr);
}

section.atalhos .opcoes a div {
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}

section.atalhos .opcoes a:hover div p,
section.atalhos .opcoes a:hover div i {
  color: var(--c-primary-change);
}

section.atalhos .opcoes a div p {
  font-family: 'Regular';
  font-size: 0.6rem;
  padding-top: 10px;
  transition: all 0.3s;
  color: var(--c-text);
}

section.atalhos .opcoes a div i {
  font-size: 1.5rem;
  transition: all 0.3s;
  color: var(--c-text);
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  section.atalhos .opcoes {
    grid-row-gap: 30px;
    grid-template-columns: repeat(7, 1fr);
  }
}

@media screen and (max-width: 500px) {
  section.atalhos {
    width: calc(100% - 30px);
  }
  section.atalhos .opcoes {
    grid-gap: 0;
    grid-row-gap: 30px;
    grid-template-columns: repeat(5, 1fr);
  }
}
