/* BASE
*/

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
  main {
    margin-bottom: 50px;
  }
}

/*
* {
  border: 1px solid red;
}
*/
