/* BLACK
*/

.black {
  display: flex;
  width: calc(100% - 60px);
  background-color: var(--c-white);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 30px;
  max-width: 600px;
}

/* TEXTO
*/

.black .texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: auto;
}

.black .texto p.titulo {
  font-family: 'Medium';
  font-size: 1.5rem;
  color: var(--c-text-dark);
}

.black .texto p.descricao {
  font-family: 'Regular';
  font-size: 1rem;
  color: var(--c-text);
  max-width: 600px;
  padding: 10px 0px;
}

.black .texto button {
  font-family: 'Regular';
  font-size: 0.9rem;
  color: var(--c-white-fixed);
  background-color: var(--c-black);
  padding: 7px 20px;
  border-radius: 100px;
}

.black .texto button:hover {
  opacity: 0.7;
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  .black {
    margin-bottom: 100px;
    max-width: 550px;
  }
}

@media screen and (max-width: 500px) {
  .black {
    width: calc(100% - 40px);
    margin-bottom: 150px;
    padding: 30px 20px;
  }
}
