/* COMEMORACOES
*/

section.comemoracoes.desativado {
  display: none;
}

section.comemoracoes {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: calc(100% - 60px);
  margin-top: 50px;
  padding: 30px;
  border-radius: 20px;
}

section.comemoracoes .texto p.titulo {
  font-family: 'Medium';
  font-size: 1.2rem;
  padding-bottom: 5px;
  color: var(--c-white-fixed);
}

section.comemoracoes .texto p.descricao {
  font-family: 'Regular';
  font-size: 1rem;
  max-width: 500px;
  color: var(--c-white-fixed);
}

/* COMEMORACOES
*/

section.comemoracoes .fechar {
  position: absolute;
  top: 20px;
  right: 20px;
}

section.comemoracoes .fechar i {
  font-family: 2rem;
  color: var(--c-white-fixed);
}

/* DIA DAS MAES
*/

section.comemoracoes.dia_das_maes {
  background-color: var(--c-red);
}

/* RESPONSIVO
*/

@media screen and (max-width: 500px) {
  section.comemoracoes {
    width: calc(100% - 30px);
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
  }
  section.comemoracoes .texto p.titulo {
    font-size: 1rem;
  }
  section.comemoracoes .texto p.descricao {
    font-size: 0.8rem;
  }
}
