/* INFORMACOES
*/

section.informacoes {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 60px);
  height: auto;
  padding: 0 0 50px 0;
  text-align: center;
}

/* DIV
*/

section.informacoes .opcoes {
  display: flex;
  flex-direction: row;
  width: 100%;
}

section.informacoes .opcoes div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-left: 20px;
  padding: 30px;
  transition: all 0.3s;
  text-align: center;
  border-radius: 10px;
  background-color: var(--c-base);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

section.informacoes .opcoes div:nth-child(1) {
  margin-left: 0;
}

section.informacoes .opcoes a:hover div {
  box-shadow: 0 0 10px 0 var(--c-shadow-one), 0 10px 20px var(--c-shadow-two);
}

section.informacoes .opcoes div p.titulo {
  font-family: 'Medium';
  font-size: 1.2rem;
  color: var(--c-text-dark);
}

section.informacoes .opcoes div p.descricao {
  font-family: 'Regular';
  font-size: 0.9rem;
  max-width: 200px;
  color: var(--c-text);
}

section.informacoes .opcoes div p.numero {
  font-family: 'Medium';
  font-size: 3rem;
  padding: 10px 0;
}

section.informacoes .opcoes div.encomendas p.numero {
  color: var(--c-blue);
}

section.informacoes .opcoes div.posvenda p.numero {
  color: var(--c-blue);
}

section.informacoes .opcoes div.compromissos p.numero {
  color: var(--c-moss);
}

section.informacoes .opcoes div.lembretes p.numero {
  color: var(--c-yellow);
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  section.informacoes .opcoes {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  section.informacoes .opcoes div {
    max-width: 550px;
    margin-bottom: 20px;
    margin-left: 0;
    padding: 30px 20px;
  }
  section.informacoes .opcoes div:nth-child(4) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  section.informacoes {
    width: calc(100% - 30px);
  }
  section.informacoes .opcoes div {
    margin-bottom: 15px;
  }
}
