[class^='icon-'],
[class*=' icon-'] {
  font-family: 'Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}

.icon-painel:before {
  content: '\e001';
}
.icon-venda:before {
  content: '\e002';
}
.icon-pos-venda:before {
  content: '\e003';
}
.icon-agenda:before {
  content: '\e004';
}
.icon-grafico:before {
  content: '\e005';
}
.icon-cliente:before {
  content: '\e006';
}
.icon-produto:before {
  content: '\e007';
}
.icon-notas:before {
  content: '\e008';
}
.icon-chat:before {
  content: '\e009';
}
.icon-notificacao:before {
  content: '\e010';
}
.icon-pesquisa:before {
  content: '\e011';
}
.icon-confirmar:before {
  content: '\e012';
}
.icon-fechar:before {
  content: '\e013';
}
.icon-mais:before {
  content: '\e014';
}
.icon-menos:before {
  content: '\e015';
}
.icon-menu:before {
  content: '\e016';
}
.icon-despesa:before {
  content: '\e017';
}
.icon-receita:before {
  content: '\e018';
}
.icon-repor-produto:before {
  content: '\e019';
}
.icon-localizacao:before {
  content: '\e020';
}
.icon-editar:before {
  content: '\e021';
}
.icon-lixeira:before {
  content: '\e022';
}
.icon-olho:before {
  content: '\e023';
}
.icon-cadeado:before {
  content: '\e024';
}
.icon-ajustes:before {
  content: '\e025';
}
.icon-seta-baixo:before {
  content: '\e026';
}
.icon-seta-cima:before {
  content: '\e027';
}
.icon-seta-direita:before {
  content: '\e028';
}
.icon-seta-esquerda:before {
  content: '\e029';
}
.icon-whatsapp:before {
  content: '\e030';
}
