/* FADEIN
*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* FADEOUT
*/

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* BOLINHAS LOADING
*/

@keyframes bolinhasLoading {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }
}

@-moz-keyframes bolinhasLoading {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }
}

@-webkit-keyframes bolinhasLoading {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }
}

@-ms-keyframes bolinhasLoading {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }
}

/* VINDO DA EQUERDA PARA A TELA
*/

@keyframes vindoEsquerda {
  from {
    left: -550px;
  }
  to {
    left: 0;
  }
}

@-moz-keyframes vindoEsquerda {
  from {
    left: -550px;
  }
  to {
    left: 0;
  }
}

@-webkit-keyframes vindoEsquerda {
  from {
    left: -550px;
  }
  to {
    left: 0;
  }
}

@-ms-keyframes vindoEsquerda {
  from {
    left: -550px;
  }
  to {
    left: 0;
  }
}

@media screen and (max-width: 500px) {
  @keyframes vindoEsquerda {
    from {
      right: 0;
      opacity: 0;
    }
    to {
      right: 0;
      opacity: 1;
    }
  }
  @-moz-keyframes vindoEsquerda {
    from {
      right: 0;
      opacity: 0;
    }
    to {
      right: 0;
      opacity: 1;
    }
  }
  @-webkit-keyframes vindoEsquerda {
    from {
      right: 0;
      opacity: 0;
    }
    to {
      right: 0;
      opacity: 1;
    }
  }
  @-ms-keyframes vindoEsquerda {
    from {
      right: 0;
      opacity: 0;
    }
    to {
      right: 0;
      opacity: 1;
    }
  }
}

/* VOLTANDO PARA A EQUERDA DA TELA
*/

@keyframes voltandoEsquerda {
  from {
    left: 0;
  }
  to {
    left: -550px;
  }
}

@-moz-keyframes voltandoEsquerda {
  from {
    left: 0;
  }
  to {
    left: -550px;
  }
}

@-webkit-keyframes voltandoEsquerda {
  from {
    left: 0;
  }
  to {
    left: -550px;
  }
}

@-ms-keyframes voltandoEsquerda {
  from {
    left: 0;
  }
  to {
    left: -550px;
  }
}

@media screen and (max-width: 500px) {
  @keyframes voltandoEsquerda {
    from {
      left: 0;
    }
    to {
      left: -550px;
    }
  }

  @-moz-keyframes voltandoEsquerda {
    from {
      left: 0;
    }
    to {
      left: -550px;
    }
  }

  @-webkit-keyframes voltandoEsquerda {
    from {
      left: 0;
    }
    to {
      left: -550px;
    }
  }

  @-ms-keyframes voltandoEsquerda {
    from {
      left: 0;
    }
    to {
      left: -550px;
    }
  }
}

/* APARECENDO DE CIMA
*/

@keyframes apareceCima {
  0% {
    top: -100px;
  }
  100% {
    top: 20px;
  }
}

@-moz-keyframes apareceCima {
  0% {
    top: -100px;
  }
  100% {
    top: 20px;
  }
}

@-webkit-keyframes apareceCima {
  0% {
    top: -100px;
  }
  100% {
    top: 20px;
  }
}

@-ms-keyframes apareceCima {
  0% {
    top: -100px;
  }
  100% {
    top: 20px;
  }
}

@media screen and (max-width: 700px) {
  @keyframes apareceCima {
    0% {
      top: -100px;
    }
    100% {
      top: 0;
    }
  }

  @-moz-keyframes apareceCima {
    0% {
      top: -100px;
    }
    100% {
      top: 0;
    }
  }

  @-webkit-keyframes apareceCima {
    0% {
      top: -100px;
    }
    100% {
      top: 0;
    }
  }

  @-ms-keyframes apareceCima {
    0% {
      top: -100px;
    }
    100% {
      top: 0;
    }
  }
}

/* VINDO DEBAIXO DA TELA
*/

@keyframes vindoBaixo {
  from {
    bottom: -100vh;
  }
  to {
    bottom: 0;
  }
}

@-moz-keyframes vindoBaixo {
  from {
    bottom: -100vh;
  }
  to {
    bottom: 0;
  }
}

@-webkit-keyframes vindoBaixo {
  from {
    bottom: -100vh;
  }
  to {
    bottom: 0;
  }
}

@-ms-keyframes vindoBaixo {
  from {
    bottom: -100vh;
  }
  to {
    bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  @keyframes vindoBaixo {
    from {
      bottom: -100vh;
    }
    to {
      bottom: 0;
    }
  }

  @-moz-keyframes vindoBaixo {
    from {
      bottom: -100vh;
    }
    to {
      bottom: 0;
    }
  }

  @-webkit-keyframes vindoBaixo {
    from {
      bottom: -100vh;
    }
    to {
      bottom: 0;
    }
  }

  @-ms-keyframes vindoBaixo {
    from {
      bottom: -100vh;
    }
    to {
      bottom: 0;
    }
  }
}

/* VOLTANDO PARA BAIXO DA TELA
*/

@keyframes voltandoBaixo {
  from {
    bottom: 0;
  }
  to {
    bottom: -100vh;
  }
}

@-moz-keyframes voltandoBaixo {
  from {
    bottom: 0;
  }
  to {
    bottom: -100vh;
  }
}

@-webkit-keyframes voltandoBaixo {
  from {
    bottom: 0;
  }
  to {
    bottom: -100vh;
  }
}

@-ms-keyframes voltandoBaixo {
  from {
    bottom: 0;
  }
  to {
    bottom: -100vh;
  }
}

@media screen and (max-width: 500px) {
  @keyframes voltandoBaixo {
    from {
      bottom: 0;
    }
    to {
      bottom: -100vh;
    }
  }

  @-moz-keyframes voltandoBaixo {
    from {
      bottom: 0;
    }
    to {
      bottom: -100vh;
    }
  }

  @-webkit-keyframes voltandoBaixo {
    from {
      bottom: 0;
    }
    to {
      bottom: -100vh;
    }
  }

  @-ms-keyframes voltandoBaixo {
    from {
      bottom: 0;
    }
    to {
      bottom: -100vh;
    }
  }
}
