<meta name="author" content="Gerencia Consultor">
<meta itemprop="name" content="Gerencia Consultor">
<meta name="article:author" content="Gerencia Consultor">
<meta property="og:site_name" content="Gerencia Consultor">

<meta property="og:locale" content="pt_BR">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1920">
<meta property="og:image:height" content="1080">
<meta property="og:type" content="website">
<meta property="og:card" content="summary_large_image">

<meta name="article:section" content="Sistema de Consultores e Consultoras">
<meta name="article:tag" content="gerenciaconsultor, Sistema de Consultores e Consultoras">

<meta name="twitter:site" content="@gerenciaconsultor">

<meta property="twitter:card" content="summary_large_image">
<meta property="discord:card" content="summary_large_image">

<meta name="image" content="https://static.gerenciaconsultor.com/images/plataforma/share.png">
<meta itemprop="image" content="https://static.gerenciaconsultor.com/images/plataforma/share.png">
<meta property="og:image" content="https://static.gerenciaconsultor.com/images/plataforma/share.png">
<meta name="discord:image" content="https://static.gerenciaconsultor.com/images/plataforma/share.png">
<meta name="twitter:image" content="https://static.gerenciaconsultor.com/images/plataforma/share.png">

<link rel="apple-touch-icon" sizes="57x57" href="https://static.gerenciaconsultor.com/images/plataforma/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://static.gerenciaconsultor.com/images/plataforma/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://static.gerenciaconsultor.com/images/plataforma/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://static.gerenciaconsultor.com/images/plataforma/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://static.gerenciaconsultor.com/images/plataforma/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://static.gerenciaconsultor.com/images/plataforma/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://static.gerenciaconsultor.com/images/plataforma/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://static.gerenciaconsultor.com/images/plataforma/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://static.gerenciaconsultor.com/images/plataforma/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://static.gerenciaconsultor.com/images/plataforma/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="194x194" href="https://static.gerenciaconsultor.com/images/plataforma/favicon/favicon-194x194.png">
<link rel="icon" type="image/png" sizes="192x192" href="https://static.gerenciaconsultor.com/images/plataforma/favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://static.gerenciaconsultor.com/images/plataforma/favicon/favicon-16x16.png">
<link rel="mask-icon" href="https://static.gerenciaconsultor.com/images/plataforma/favicon/safari-pinned-tab.svg" color="#f85508">
<meta name="apple-mobile-web-app-title" content="Gerencia Consultor">
<meta name="application-name" content="Gerencia Consultor">
<meta name="msapplication-TileImage" content="https://static.gerenciaconsultor.com/images/plataforma/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="https://static.gerenciaconsultor.com/images/plataforma/favicon/browserconfig.xml">
