/* MENU
*/

.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: calc(100% - 60px);
  height: 50px;
  margin-bottom: 30px;
}

/* RESPONSIVO
*/

@media screen and (max-width: 800px) {
  .menu {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    height: 130px;
  }
}

@media screen and (max-width: 500px) {
  .menu {
    width: calc(100% - 30px);
    height: 120px;
  }
}
