/* AJUSTES DO MODAL
*/

.modal > .conteudo > section > .telas > .tela > app-cor {
  margin-bottom: 20px;
}

.modal > .conteudo > section > .telas > .tela > #lembrete {
  display: flex;
  align-items: center;
}

.modal > .conteudo > section > .telas > .tela > #lembrete app-checkbox {
  margin-left: 10px;
}

.modal > .conteudo {
  padding-bottom: 300px;
}
