/* FILTROS
*/

.filtros {
  width: 140%;
  height: 100%;
  margin-right: 20px;
  margin-bottom: 0;
  border-radius: 10px;
}

/* PESQUISA
*/

.filtros .pesquisa {
  padding-left: 20px;
}

.filtros .pesquisa::before {
  font-size: 1.2rem;
  padding-right: 10px;
}

.filtros .pesquisa input.search {
  font-size: 1rem;
  color: var(--c-blue);
}

/* RESPONSIVO
*/

@media screen and (max-width: 800px) {
  .filtros {
    width: 100%;
    margin-top: 20px;
    margin-right: 0;
  }
}
