/* ITENS PÓS-VENDA */

app-itens-pos-venda {
  font-family: 'Regular';
  display: flex;
  flex-direction: column;
}

app-itens-pos-venda > .item {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 12px 0;
}

/* ITEM INFO */
app-itens-pos-venda > .item > .informacao {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

app-itens-pos-venda > .item > .informacao > .titulo {
  font-size: 1rem;
  padding-bottom: 3px;
  color: var(--c-text-dark);
}
app-itens-pos-venda > .item.confirmado > .informacao > .titulo {
  color: var(--c-blue-light);
}

app-itens-pos-venda > .item > .informacao > .valor {
  font-size: 0.9rem;
  color: var(--c-text);
}

/* ITEM STATUS */
app-itens-pos-venda > .item > .status {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-width: 110px;
  margin-left: auto;
}

app-itens-pos-venda > .item > .status > i {
  font-family: 'Icons';
  font-size: 0.8rem;
  padding: 3px;
  cursor: pointer;
  transition: ease-out 0.2s;
  color: var(--c-text);
  border: solid 2px var(--c-grey-light);
  border-radius: 50%;
}

app-itens-pos-venda > .item.confirmado > .status > i,
app-itens-pos-venda > .item.confirmado > .status > i:hover {
  color: var(--c-blue);
  border-color: var(--c-blue);
}

app-itens-pos-venda > .item > .status > i:hover {
  color: var(--c-text-dark);
  border-color: var(--c-text-dark);
}

app-itens-pos-venda > .item > .status > p {
  font-size: 1rem;
  margin-left: 10px;
  color: var(--c-text);
}

@media screen and (max-width: 600px) {
  app-itens-pos-venda > .item > .informacao > .titulo,
  app-itens-pos-venda > .item > .status > p,
  app-itens-pos-venda > .item > .informacao > .valor,
  app-itens-pos-venda > .item > .status > i {
    font-size: 0.8rem;
  }
  app-itens-pos-venda > .item > .status > i {
    border: solid 1px var(--c-grey-light);
  }
}
