/* LISTA VAZIA
*/

app-lista ul:empty:not(:focus):before {
  content: 'Você não tem pós-venda a ser feito ainda!';
}

app-lista .item .info .icone-tela.posvenda::before {
  content: '\e002';
}

app-lista .item .info p.principal {
  font-family: 'Medium';
  font-size: 0.9rem;
  transition: all 0.3s;
  color: var(--c-text-dark);
}

app-lista .item .info p.principal span.cliente {
  font-family: 'Regular';
  font-size: 1rem;
  transition: all 0.3s;
  color: var(--c-blue);
}
