/* ASIDE
*/

aside {
  position: fixed;
  display: flex;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  height: 100vh;
  transition: all 0.3s;
  transition: color 0s;
  background-color: var(--c-white);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

aside {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

   -khtml-user-select: none;
  -webkit-touch-callout: none;
}

aside::-webkit-scrollbar,
aside::-webkit-scrollbar-thumb,
aside::-webkit-scrollbar-track {
  display: none;
}

/* FUNCIONALIDADES
*/

aside .funcionalidades {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

aside .funcionalidades a {
  font-family: 'Regular';
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--c-grey);
}

aside .funcionalidades a span {
  display: none;
}

aside .funcionalidades a i {
  font-size: 1.8rem;
  transition: all 0.3s;
  color: var(--c-grey);
}

aside .funcionalidades a.ativo i,
aside .funcionalidades a.ativo span {
  color: var(--c-grey-dark);
}

aside .funcionalidades a:hover i {
  color: var(--c-grey-light);
}

/* TAMANHOS DESKTOP
*/

aside .funcionalidades a[name='painel'] {
  top: 50px;
}

aside .funcionalidades a[name='painel'].ativo i,
aside .funcionalidades a[name='painel'].ativo span {
  color: var(--c-primary);
}

aside .funcionalidades a[name='vendas'] {
  top: 100px;
}

aside .funcionalidades a[name='vendas'].ativo i,
aside .funcionalidades a[name='vendas'].ativo span {
  color: var(--c-blue);
}

aside .funcionalidades a[name='agenda'] {
  top: 150px;
}

aside .funcionalidades a[name='agenda'].ativo i,
aside .funcionalidades a[name='agenda'].ativo span {
  color: var(--c-moss);
}

aside .funcionalidades a[name='financeiro'] {
  top: 200px;
}

aside .funcionalidades a[name='financeiro'].ativo i,
aside .funcionalidades a[name='financeiro'].ativo span {
  color: var(--c-green);
}

aside .funcionalidades a[name='clientes'] {
  top: 250px;
}

aside .funcionalidades a[name='clientes'].ativo i,
aside .funcionalidades a[name='clientes'].ativo span {
  color: var(--c-purple);
}

aside .funcionalidades a[name='produtos'] {
  top: 300px;
}

aside .funcionalidades a[name='produtos'].ativo i,
aside .funcionalidades a[name='produtos'].ativo span {
  color: var(--c-cyan);
}

aside .funcionalidades a[name='anotacoes'] {
  top: 350px;
}

aside .funcionalidades a[name='anotacoes'].ativo i,
aside .funcionalidades a[name='anotacoes'].ativo span {
  color: var(--c-yellow);
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  aside.close {
    transition: ease-out all;
    animation: voltandoBaixo 0.4s;

    animation-fill-mode: forwards;
  }
  aside {
    z-index: 4;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    transition: ease-out all;
    animation: vindoBaixo 0.4s;
    background-color: var(--c-white);
    box-shadow: 0;

    animation-fill-mode: forwards;
  }
  aside .funcionalidades {
    align-items: flex-start;
    margin-bottom: 50px;
  }
  aside .funcionalidades a {
    position: absolute;
    align-items: center;
    flex-direction: row;
    margin: 10px 0 10px 30px;
  }
  aside .funcionalidades a span {
    font-family: 'Regular';
    font-size: 1.1rem;
    display: flex;
    margin-left: 10px;
    color: var(--c-text);
  }
}
