/* MAIN
*/

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 0 50px 60px;
  animation: fadeIn ease-out 0.5s;
  background-color: var(--c-body);
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  main {
    margin: 0 0 100px 0;
  }
}
