/* NAVBAR DESKTOP
*/

navbar {
  display: none;
}

/* NAVBAR ATIVO
*/

@media screen and (max-width: 1000px) {
  navbar {
    position: fixed;
    z-index: 5;
    bottom: 0;
    display: grid;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
    border-top: 1.5px solid var(--c-grey-theme-dark);
    background-color: var(--c-base);
    box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);

    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* GERAL
*/

  navbar .chat a i,
  navbar .notificacoes a i,
  navbar .funcionalidades a i {
    font-family: 'Icons';
    font-size: 1.6rem;
    color: var(--c-grey);
  }

  navbar .chat,
  navbar .notificacoes,
  navbar .funcionalidades {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
  }

  /* ICONS
*/

  navbar .funcionalidades a i:nth-child(2) {
    display: none;
  }

  navbar .funcionalidades a.show i:nth-child(1) {
    display: none;
  }

  navbar .funcionalidades a.show i:nth-child(2) {
    display: flex;
    color: var(--c-red);
  }

  navbar .notificacoes a.nova {
    position: relative;
  }

  navbar .notificacoes a.nova div {
    position: absolute;
    top: 0;
    right: -3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--c-red);
  }

  /* PERFIL
*/

  navbar .perfil {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  navbar .perfil img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }
}
