/* HEADER
*/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 20px;
  min-height: 100vh;
}

.header p.titulo {
  font-family: 'Medium';
  font-size: 1.6rem;
  color: var(--c-text-dark);
}

.header p.subtitulo {
  font-family: 'Medium';
  font-size: 3rem;
  color: var(--c-text-dark);
  line-height: 35px;
  padding-bottom: 20px;
}

.header p.descricao {
  font-family: 'Regular';
  font-size: 1.1rem;
  color: var(--c-text);
  max-width: 500px;
  padding-bottom: 40px;
}

.header p.aviso {
  font-family: 'Regular';
  font-size: 0.9rem;
  color: var(--c-red);
  max-width: 300px;
  border-radius: 10px;
  border: 1.5px solid var(--c-red);
  padding: 10px;
}

.header button {
  font-family: 'Regular';
  font-size: 0.9rem;
  color: var(--c-text-dark);
  text-decoration: underline;
  background-color: transparent;
  margin-top: 20px;
}

/* RESPONSIVO
*/

@media screen and (max-width: 600px) {
  .header p.titulo {
    font-size: 1.3rem;
  }
  .header p.subtitulo {
    font-size: 2.6rem;
    line-height: 35px;
  }
  .header p.descricao {
    font-size: 1rem;
  }
}
