<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Assinatura Aprovada</title>

  {{> metatags}}
  <link rel="manifest" href="./site.webmanifest">
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#00C48C">
  <meta name="msapplication-TileColor" content="#00C48C">
  <meta name="msapplication-navbutton-color" content="#00C48C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#00C48C">

  <!-- DNS -->
  <link rel="dns-prefetch" href="app.gerenciabeleza.com">
  <link rel="dns-prefetch" href="static.gerenciaconsultor.com">

  <!-- Robots -->
  <meta name="robots" content="none">

  <!-- CSS -->
  <link href="../static/css/assinatura-aprovado.css?v={{versao.css}}" rel="stylesheet">
</head>

<body>

  <!-- HEADER -->
  {{> header}}

  <!-- OPCOES -->
  {{> opcoes}}

  <!-- JS -->
  <script defer src="../static/js/pages/assinatura-aprovado.js?v={{versao.js}}"></script>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169310836-3"></script>
  <script defer src="https://static.gerenciaconsultor.com/js/google-analises.js"></script>

</body>

</html>
