<section class="design">

  <!-- TITULO -->
  <div class="titulo">
    <p class="principal">Crie uma nova <span>senha segura</span> para sua conta!</p>
    <p class="descricao">Use letras, simbolos e números em sua nova senha para tornar ela mais segura.</p>
  </div>

</section>
