<div class="senhas">
  <!-- IMAGEM -->
  <img src="https://static.gerenciaconsultor.com/images/global/logo/logotipo.svg">
  <!-- SENHA -->
  <label>Nova Senha </label>
  <input spellcheck="false" autocomplete="off" type="password" id="senha" placeholder="Qual sua nova senha?">
  <!-- CONFIRMAR SENHA -->
  <label>Confirmar Nova Senha </label>
  <input spellcheck="false" autocomplete="off" type="password" id="confirmar_senha" placeholder="Confirme sua nova senha?">
  <!-- BOTÃO -->
  <div class="botoes">
    <button class="positivo" id="alterar">Alterar Senha
      <i class="icon-seta-direita"></i>
    </button>
  </div>
</div>
