<section class="apresentacao">
  <!-- PERFIL -->
  <div class="perfil">
    <img src="https://static.gerenciaconsultor.com/images/global/logo/logo-quadrado-laranja.svg">
    <div class="info">
      <p class="nome">&nbsp;</p>
      <p class="status">&nbsp;</p>
    </div>
  </div>
  <!-- OPCOES -->
  <div class="opcoes">
    <!-- NOTIFICACAO -->
    <div class="notificacoes">
      <a href="/notificacoes">
        <i class="icon-notificacao"></i>
        <p>&nbsp;</p>
      </a>
    </div>
    <!-- SUPORTE -->
    <div class="suporte">
      <a id="chat_desktop_1_start">
        <i class="icon-chat"></i>
        <p>Precisa de ajuda? Fale com o suporte</p>
      </a>
    </div>
  </div>
</section>
