<section class="atalhos">
  <div class="opcoes">
    <a href="/vendas">
      <div>
        <i class="icon-venda"></i>
        <p>Vendas</p>
      </div>
    </a>
    <a href="/vendas/pos-venda">
      <div>
        <i class="icon-pos-venda"></i>
        <p>Pós-Venda</p>
      </div>
    </a>
    <a href="/vendas/encomendas">
      <div>
        <i class="icon-venda"></i>
        <p>Encomendas</p>
      </div>
    </a>
    <a href="/agenda">
      <div>
        <i class="icon-agenda"></i>
        <p>Agenda</p>
      </div>
    </a>
    <a href="/financeiro">
      <div>
        <i class="icon-grafico"></i>
        <p>Financeiro</p>
      </div>
    </a>
    <a href="/financeiro/receitas">
      <div>
        <i class="icon-receita"></i>
        <p>Receitas</p>
      </div>
    </a>
    <a href="/financeiro/despesas">
      <div>
        <i class="icon-despesa"></i>
        <p>Despesas</p>
      </div>
    </a>
    <a href="/clientes">
      <div>
        <i class="icon-cliente"></i>
        <p>Clientes</p>
      </div>
    </a>
    <a href="/produtos">
      <div>
        <i class="icon-produto"></i>
        <p>Produtos</p>
      </div>
    </a>
    <a href="/anotacoes">
      <div>
        <i class="icon-notas"></i>
        <p>Anotações</p>
      </div>
    </a>
    <a href="/notificacoes">
      <div>
        <i class="icon-notificacao"></i>
        <p>Notificações</p>
      </div>
    </a>
    <a href="/perfil">
      <div>
        <i class="icon-cliente"></i>
        <p>Perfil</p>
      </div>
    </a>
    <a href="/assinatura">
      <div>
        <i class="icon-confirmar"></i>
        <p>Assinatura</p>
      </div>
    </a>
    <a id="chat_desktop_2_start">
      <div>
        <i class="icon-chat"></i>
        <p>Suporte</p>
      </div>
    </a>
  </div>
</section>
