<section class="black">
  <div class="texto">
    <p class="titulo">Black.gc</p>
    <p class="descricao">Acesse uma área exclusiva com cursos e ebooks que vão ajudar você, seus clientes e seus prospectos em tudo que envolva marketing multinível.</p>
    <a target="_blank" href="https://black.gerenciaconsultor.com"><button>Ir para Black</button></a>
  </div>
</section>
