<section class="informacoes">
  <div class="opcoes">
    <!-- ENCOMENDAS -->
    <div class="encomendas">
      <a href="/vendas/encomendas">
        <p class="titulo">Encomendas</p>
        <p class="numero">&nbsp;</p>
        <p class="descricao">&nbsp;</p>
      </a>
    </div>
    <!-- POS-VENDA -->
    <div class="posvenda">
      <a href="/vendas/pos-venda">
        <p class="titulo">Pós-Vendas</p>
        <p class="numero">&nbsp;</p>
        <p class="descricao">&nbsp;</p>
      </a>
    </div>
    <!-- AGENDA -->
    <div class="compromissos">
      <a href="/agenda">
        <p class="titulo">Compromissos</p>
        <p class="numero">&nbsp;</p>
        <p class="descricao">&nbsp;</p>
      </a>
    </div>
    <!-- ANOTACOES -->
    <div class="lembretes">
      <a href="/anotacoes">
        <p class="titulo">Anotações</p>
        <p class="numero">&nbsp;</p>
        <p class="descricao">&nbsp;</p>
      </a>
    </div>
  </div>
</section>
