<section class="ocultar" id="modal_visualizar">

  <!-- TELAS -->
  <div class="telas">

    <!-- TELA INFORMACOES -->
    <div class="tela mostrar" data-id="1">
      <!-- Id -->
      <input id="id" type="hidden">
      <!-- Titulo -->
      <p class="titulo" id="titulo"></p>
      <!-- Mensagem -->
      <p class="mensagem" id="mensagem"></p>
      <!-- Horario -->
      <p class="data" id="horario"></p>
      <!-- BOTOES -->
      <div class="botoes">
        <button class="negativo" id="voltar"><i class="icon-fechar"></i> Fechar</button>
      </div>
    </div>

  </div>

  </div>
</section>
