/* LISTA VAZIA
*/

app-lista ul:empty:not(:focus):before {
  content: 'Nenhuma notificação nova! Quando novos avisos chegarem você será informado.';
}

app-lista > .itens > .item.novo > .info .icone-tela::before {
  color: var(--c-red);
}

app-lista .item .info .icone-tela.notificacoes::before {
  content: '\e010';
}
