/* INPUTS
*/

.modal > .conteudo > section > .telas > .tela > .titulo {
  margin-bottom: 0;
}

section > .telas > .tela > p.titulo {
  font-family: 'Medium';
  font-size: 1.2rem;
  padding-bottom: 5px;
  text-align: center;
  color: var(--c-text-dark);
}

section > .telas > .tela > p.mensagem {
  font-family: 'Regular';
  font-size: 1rem;
  text-align: center;
  color: var(--c-text);
}

.modal > .conteudo > section > .telas > .tela > .botoes {
  padding-top: 50px;
}

.modal > .conteudo > section > .telas > .tela > .botoes > button.negativo {
  margin: auto;
  margin-right: 0;
}

/* RESPONSIVO
*/

@media screen and (max-width: 500px) {
  section > .telas > .tela > p.titulo {
    font-size: 1.1rem;
  }
  section > .telas > .tela > p.mensagem {
    font-size: 0.9rem;
  }
}
