/* ASSINANTE
*/

a.voltar {
  font-family: 'Medium';
  font-size: 0.9rem;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 20px 0 0 50px;
  color: var(--c-grey-dark);
}

a.voltar::before {
  font-family: 'Icons';
  padding-right: 5px;
  content: '\e029';
}

a.voltar:hover {
  color: var(--c-white);
}

/* TEXTO
*/

.assinante .texto p.status {
  font-family: 'Medium';
  font-size: 1.1rem;
  max-width: 300px;
  padding-bottom: 20px;
  color: var(--c-green);
}

/* SUPORTE
*/

.assinante .suporte p {
  color: var(--c-green);
}

.assinante .suporte {
  border: 2px solid var(--c-green);
}

.assinante .suporte:hover p {
  color: var(--c-white);
}

.assinante .suporte:hover {
  border: 2px solid var(--c-white);
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  a.voltar {
    padding: 20px 0 0 20px;
  }
}

@media screen and (max-width: 600px) {
  .assinante .texto p.status {
    font-size: 0.8rem;
  }
}
