/* BASE
*/

body {
  background-color: var(--c-black);
}

.base {
  position: relative;
  display: none;
  width: 100%;
  min-height: 100vh;
  background-color: var(--c-black);
  background-image: url('https://static.gerenciaconsultor.com/images/plataforma/tela-assinatura/background.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  grid-template-columns: 1fr 1fr;
}

/* MOSTRAR
*/

.mostrar {
  display: grid;
}

/* DIVISOR
*/

.base .divisor {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* TEXTO
*/

.base .texto {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 100px 50px;
  text-align: left;
}

.base .texto h2 {
  font-family: 'Medium';
  font-size: 2rem;
  color: var(--c-white);
}

.base .texto h3 {
  font-family: 'Medium';
  font-size: 7rem;
  line-height: 7rem;
  color: var(--c-white);
}

.base .texto p {
  font-family: 'Regular';
  font-size: 1rem;
  max-width: 400px;
  padding-bottom: 20px;
  color: var(--c-white);
}

/* IMAGEM
*/

.base .texto .botoes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* IMAGEM
*/

.base .imagem {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .base {
    min-height: 100vh;
    grid-template-columns: 1fr;
  }
  .base .texto {
    align-items: center;
    padding: 100px 20px 100px 20px;
    text-align: center;
  }
  .base .imagem {
    padding-left: 50px;
  }
  .base .texto .botoes {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .base .texto {
    padding: 150px 20px 100px 20px;
  }
  .base .imagem {
    padding-left: 30px;
  }
  .base .texto h2 {
    font-size: 1.3rem;
  }
  .base .texto h3 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .base .texto p {
    font-size: 0.9rem;
  }
}
