/* INICIAL
*/

.inicial .texto p.garantia {
  font-family: 'Regular';
  font-size: 0.9rem;
  max-width: 300px;
  padding-bottom: 20px;
  color: var(--c-text);
}

.inicial .texto button.assinar {
  font-family: 'Medium';
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--c-white);
  border-radius: 100px;
  background-color: var(--c-primary);
}

.inicial .texto button.assinar:hover {
  background-color: var(--c-primary-dark);
}

.inicial .texto button.sair {
  font-family: 'Regular';
  font-size: 0.9rem;
  color: var(--c-white);
  margin-left: 15px;
  border-radius: 100px;
  background-color: transparent;
}

.inicial .texto button.sair:hover {
  opacity: 0.7;
}

/* SUPORTE
*/

.inicial .suporte p {
  color: var(--c-primary);
}

.inicial .suporte {
  border: 2px solid var(--c-primary);
}

.inicial .suporte:hover p {
  color: var(--c-white);
}

.inicial .suporte:hover {
  border: 2px solid var(--c-white);
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  .inicial .texto button.sair {
    margin-left: 0px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 600px) {
  .inicial .texto p.garantia {
    font-size: 0.8rem;
  }
}
