/* SUPORTE
*/

.suporte {
  display: flex;
  background-color: var(--c-black);
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s;
}

.suporte p {
  font-family: 'Regular';
  font-size: 0.9rem;
  transition: all 0.3s;
  text-align: center;
}

.suporte:hover {
  border: 2px solid var(--c-white);
}

.suporte:hover p {
  color: var(--c-white);
}

@media screen and (max-width: 600px) {
  .suporte {
    align-items: center;
    justify-content: center;
    bottom: 15px;
    right: 15px;
    left: 15px;
  }
}
