/* REGULAR
*/

@font-face {
  font-family: 'Regular';
  font-weight: normal;
  font-style: normal;

  font-display: swap;
  src: url('https://static.gerenciaconsultor.com/fonts/Regular.woff') format('woff');
}

/* MEDIUM
*/

@font-face {
  font-family: 'Medium';
  font-weight: normal;
  font-style: normal;

  font-display: swap;
  src: url('https://static.gerenciaconsultor.com/fonts/Medium.woff') format('woff');
}

/* ICONS
*/

@font-face {
  font-family: 'Icons';
  font-weight: normal;
  font-style: normal;

  font-display: swap;
  src: url('https://static.gerenciaconsultor.com/fonts/icons/plataforma.woff') format('woff');
}
