/* SCROLLBAR
*/

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
}

/* RESPONSIVO
*/

@media screen and (max-width: 1000px) {
  body {
    overflow: -moz-scrollbars-none;

    -ms-overflow-style: none;
  }
  *::-webkit-scrollbar {
    width: 0 !important;
  }
  * {
    scrollbar-width: none;
  }
}
