/* LISTA VAZIA
*/

app-lista ul:empty:not(:focus):before {
  content: 'Nenhum produto cadastrado! Clique no + no topo da página para adicionar um produto.';
}

app-lista .item .info .icone-tela.produtos::before {
  content: '\e007';
}

app-lista .item .info .principal span.estoque {
  font-family: 'Regular';
  font-size: 0.8rem;
  color: var(--c-cyan);
}
