/* AJUSTES DO MODAL
*/

.modal > .conteudo > section > .telas > .tela > #estoque {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.modal > .conteudo > section > .telas > .tela > #estoque app-checkbox {
  margin-left: 10px;
}

/* RESPONSIVO
*/

@media screen and (max-width: 500px) {
  .modal > .conteudo > section > .telas > .tela > .pesquisa {
    padding: 5px 15px;
  }
  .modal > .conteudo > section > .telas > .tela > .pesquisa::before {
    font-size: 1.2rem;
    padding-right: 10px;
  }
}

.modal > .conteudo {
  padding-bottom: 300px;
}
