/* SELECT
*/

app-select-produtos-fornecedores {
  font-family: 'Medium';
  font-size: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 15px 20px;
  cursor: pointer;
  color: var(--c-text);
  border: 1.6px solid var(--c-text-border);
  border-radius: 10px;
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

app-select-produtos-fornecedores .texto {
  pointer-events: none;
}

app-select-produtos-fornecedores .texto:empty:not(:focus):before {
  font-family: 'Regular';
  margin-left: 0 auto;
  content: 'Produtos Hinode';
  color: var(--c-text);
}

label.comselect {
  margin-bottom: 0;
}

app-select-produtos-fornecedores::before {
  font-family: 'Icons';
  font-size: 1.5rem;
  padding-right: 10px;
  content: '\e007';
  color: var(--c-text);
}

/* FOCUS
*/

app-select-produtos-fornecedores:focus {
  outline: none;
}

/* DISABLED
*/

app-select-produtos-fornecedores:disabled,
app-select-produtos-fornecedores:disabled * {
  cursor: none;
  pointer-events: none;
}

/* DROPDOWN
*/

app-select-produtos-fornecedores .dropdown {
  position: absolute;
  z-index: 1;
  top: 57px;
  left: 0;
  display: none;
  overflow-y: auto;
  flex-direction: column;
  width: 100%;
  max-height: 250px;
  margin-bottom: 50px;
  padding: 10px 0 0 0;
  animation: fadeIn 0.3s;
  background-color: var(--c-white);
  box-shadow: 0 0 1px 0 var(--c-shadow-one), 0 4px 14px var(--c-shadow-two);
}

app-select-produtos-fornecedores .dropdown.mostrar {
  display: flex;
}

/* DROPDOWN OPCOES
*/

app-select-produtos-fornecedores .dropdown .opcoes div {
  font-family: 'Regular';
  font-size: 0.9rem;
  padding: 5px 20px;
  cursor: pointer;
  text-align: left;
  color: var(--c-text);
}

app-select-produtos-fornecedores .dropdown .opcoes div:hover {
  transition: all 0.2s;
  color: var(--c-text-dark);
}

app-select-produtos-fornecedores .dropdown .opcoes div:last-child {
  padding-bottom: 30px;
}

/* DROPDOWN BUSCA
*/

app-select-produtos-fornecedores .dropdown .busca {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px 10px 20px;
}

app-select-produtos-fornecedores .dropdown .busca::before {
  font-family: 'Icons';
  font-size: 1.1rem;
  padding-right: 10px;
  content: '\e011';
  color: var(--c-text-light);
}

app-select-produtos-fornecedores .dropdown .busca input {
  width: 100%;
  margin: 0;
  border: 0;
}

/* VAZIO
*/

app-select-produtos-fornecedores .dropdown .busca.ocultar {
  display: none;
}

app-select-produtos-fornecedores .dropdown .opcoes:empty:before {
  font-family: 'Regular';
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  content: 'Não há nada cadastrado com esse nome';
  color: var(--c-red);
}

/* RESPONSIVO
*/

@media screen and (max-width: 500px) {
  app-select-produtos-fornecedores {
    font-size: 0.9rem;
    padding: 10px 15px;
  }
  app-select-produtos-fornecedores .dropdown {
    top: 45px;
    border-radius: 0 0 10px 10px;
  }
  app-select-produtos-fornecedores .dropdown .opcoes div {
    font-size: 0.9rem;
    padding: 10px 15px;
  }
  app-select-produtos-fornecedores::before {
    font-size: 1.3rem;
  }
}
