<section class="design">

  <!-- TITULO -->
  <div class="titulo">
    <p class="principal">Um sistema para <span>consultores de sucesso</span> que querem mais!</p>
    <p class="descricao">Tenha o controle de todos os seus clientes, vendas, produtos e saiba quando é a melhor hora
      para vender novamente a um cliente.</p>
  </div>

</section>
