<div class="entrar ativo">
  <!-- IMAGEM -->
  <img src="https://static.gerenciaconsultor.com/images/global/logo/logotipo.svg">
  <!-- EMAIL -->
  <label>Email </label>
  <input spellcheck="false" autocomplete="off" type="email" id="email" placeholder="Qual o seu email?">
  <!-- SENHA -->
  <label>Senha </label>
  <input spellcheck="false" autocomplete="off" type="password" id="senha" placeholder="Qual a sua senha?">
  <!-- ESQUECEU SENHA -->
  <button class="esqueceu">Esqueceu sua senha?</button>
  <!-- BOTÃO -->
  <div class="botoes">
    <button class="contrario criar"><i class="icon-cliente"></i>Criar conta</button>
    <button class="positivo autenticar">Entrar no sistema<i class="icon-seta-direita"></i></button>
  </div>
</div>
