<section class="mostrar" id="modal_esqueceu_senha">

  <!-- TELAS -->
  <div class="telas">

    <!-- TELA INFORMACOES -->
    <div class="tela" data-id="1">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Esqueceu sua Senha?</p>
        <p class="descricao">Preencha o email de sua conta abaixo para receber o link de redefinição de senha.</p>
      </div>
      <!-- EMAIL -->
      <label>Email </label>
      <input spellcheck="false" autocomplete="off" type="email" id="email" placeholder="Qual o seu email?">
      <!-- BOTOES -->
      <div class="botoes">
        <button class="negativo" id="fechar"><i class="icon-fechar"></i> Fechar</button>
        <button class="positivo" id="enviar">Enviar</button>
      </div>
    </div>

  </div>

</section>
