<div class="registrar">
  <!-- IMAGEM -->
  <img src="https://static.gerenciaconsultor.com/images/global/logo/logotipo.svg">
  <!-- NOME -->
  <label>Nome </label>
  <input spellcheck="false" autocomplete="off" type="text" id="nome" placeholder="Qual o seu nome?">
  <!-- TELEFONE -->
  <label>Telefone </label>
  <input spellcheck="false" autocomplete="off" type="tel" id="telefone" placeholder="Qual o seu telefone?"
    data-mask-phone="true">
  <!-- EMAIL -->
  <label>Email </label>
  <input spellcheck="false" autocomplete="off" type="email" id="email" placeholder="Qual o seu email?">
  <!-- SENHA -->
  <label>Senha </label>
  <input spellcheck="false" autocomplete="off" type="password" id="senha" placeholder="Crie uma senha">
  <!-- SENHA -->
  <label>Repetir Senha </label>
  <input spellcheck="false" autocomplete="off" type="password" id="confirmar_senha" placeholder="Repita a senha criada">
  <!-- BOTÃO -->
  <div class="botoes">
    <button class="contrario autenticar"><i class="icon-cliente"></i> Já tenho conta</button>
    <button class="positivo criar">Criar minha conta <i class="icon-seta-direita"></i></button>
  </div>
</div>
