<section class="header">
  <p class="titulo">PAGAMENTO</p>
  <p class="subtitulo">PENDENTE</p>
  <p class="descricao">Seu pagamento está sendo processado, assim que for confirmado você ganhará acesso ao sistema!</p>
  <p class="aviso">Você será avisado por email assim que o pagamento for confirmado!</p>
  <button>Sair</button>
</section>
