<section class="ocultar" id="modal_deletar">

  <!-- TELAS -->
  <div class="telas">

    <!-- TELA INFORMACOES -->
    <div class="tela" data-id="1">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Deletar Despesa</p>
        <p class="descricao">Deseja realmente deletar essa despesa? Ao apagar uma despesa você removerá todas as
          parcelas, antigas e futuras, relacionadas a ela.</p>
      </div>
      <input type="hidden" id="id">
      <p class="texto">&nbsp;</p>
      <!-- BOTOES -->
      <div class="botoes">
        <button class="nao" id="voltar">Não</button>
        <button class="sim" id="deletar">Sim</button>
      </div>
    </div>

  </div>

</section>
