<section class="ocultar" id="modal_adicionar">

  <!-- TELAS -->
  <div class="telas">

    <!-- TELA INFORMACOES -->
    <div class="tela" data-id="1">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Nova Despesa</p>
        <p class="descricao">Cadastre uma despesa em seu financeiro</p>
      </div>
      <!-- Nome -->
      <label>Nome <span class="required">*</span> </label>
      <input spellcheck="false" id="nome" autocomplete="off" type="text" placeholder="Qual o nome da despesa?">
      <!-- Descricao -->
      <label>Descricao</label>
      <input spellcheck="false" id="descricao" autocomplete="off" type="text"
        placeholder="Qual a descrição da despesa?">
      <!-- Componente Pagamento -->
      <app-pagamento tabindex="0"></app-pagamento>
      <div class="botoes">
        <button class="negativo" id="fechar"><i class="icon-fechar"></i> Fechar</button>
        <button class="positivo" id="adicionar">Adicionar</button>
      </div>
    </div>

  </div>

  <!-- BOTOES -->

</section>
