<section class="ocultar" id="modal_universal">

  <!-- TELAS -->
  <div class="telas">

    <!-- TELA INFORMACOES -->
    <div class="tela mostrar" data-id="1">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Despesa Cadastrada</p>
        <p class="descricao">Veja os dados salvos de sua Despesa</p>
      </div>
      <!-- Id -->
      <input id="id" type="hidden">
      <!-- Nome -->
      <label>Nome <span class="required">*</span> </label>
      <input spellcheck="false" id="nome" autocomplete="off" type="text" placeholder="Qual o nome da despesa?">
      <!-- Descricao -->
      <label>Descricao</label>
      <input spellcheck="false" id="descricao" autocomplete="off" type="text"
        placeholder="Qual a descrição da despesa?">
      <!-- Componente Pagamento -->
      <app-pagamento tabindex="0"></app-pagamento>
      <!-- BOTOES -->
      <div class="botoes">
        <button class="negativo" id="fechar"><i class="icon-fechar"></i> Fechar</button>
        <button class="positivo" id="editar">Editar</button>
      </div>
    </div>

  </div>

  <div class="opcoes">
    <button class="deletar" id="deletar">Deletar</button>
  </div>

</section>
