<section class="menu">
  <app-date-select></app-date-select>
  <div class="botoes">
    <div class="encomendas">
      <a href="/vendas/encomendas"><button>Encomendas</button></a>
    </div>
    <div class="pos-venda">
      <a href="/vendas/pos-venda"><button>Pós-venda</button></a>
    </div>
  </div>
</section>
