<section class="ocultar" id="modal_adicionar">

  <!-- TELAS -->
  <div class="telas">

    <!-- TELA INFORMACOES -->
    <div class="tela" data-id="1">
      <!-- Titulo -->
      <div class="titulo">
        <p class="nome">Nova Venda</p>
        <p class="descricao">Selecione o cliente e a data da venda</p>
      </div>
      <!-- Cliente -->
      <label>Cliente <span class="required">*</span> </label>
      <app-select tabindex="0"></app-select>
      <!-- Data -->
      <label>Data da Venda <span class="required">*</span> </label>
      <app-date-picker id="data" tabindex="0"></app-date-picker>
      <!-- BOTOES -->
      <div class="botoes">
        <button class="negativo" id="fechar"><i class="icon-fechar"></i> Fechar</button>
        <button class="avancar" id="avancar">Avançar <i class="icon-seta-direita"></i></button>
      </div>
    </div>

    <!-- TELA PRODUTOS -->
    <div class="tela" data-id="2">
      <!-- Titulo -->
      <div class="titulo">
        <p class="nome">Produtos</p>
        <p class="descricao">Adicione os produtos dessa venda</p>
      </div>
      <!-- ITENS DA VENDA -->
      <app-itens-venda></app-itens-venda>
      <!-- BOTOES -->
      <div class="botoes">
        <button class="voltar" id="voltar"><i class="icon-seta-esquerda"></i> Voltar</button>
        <button class="avancar" id="avancar_2">Avançar <i class="icon-seta-direita"></i></button>
      </div>
    </div>

    <!-- TELA PAGAMENTO -->
    <div class="tela" data-id="3">
      <!-- Titulo -->
      <div class="titulo">
        <p class="nome">Total</p>
        <p class="descricao">Adicione o pagamento dessa venda</p>
      </div>
      <!-- MÉTODOS DE PAGAMENTO / PARCELAS -->
      <app-pagamento></app-pagamento>
      <!-- CHECKBOX ENCOMENDA -->
      <label id="label_encomenda"> Essa venda é uma encomenda?
        <app-checkbox class="pequeno" tabindex="0"></app-checkbox>
      </label>
      <div class="encomenda">
        <!-- Data -->
        <label>Data de Entrega</label>
        <app-date-picker id="dataEntrega" tabindex="0"></app-date-picker>
      </div>
      <!-- BOTOES -->
      <div class="botoes">
        <button class="voltar" id="voltar_2"><i class="icon-seta-esquerda"></i> Voltar</button>
        <button class="positivo" id="adicionar">Adicionar</button>
      </div>
    </div>

  </div>

</section>
