<section class="ocultar" id="modal_visualizar">

  <!-- TELAS -->
  <div class="telas">

    <!-- TELA INFORMACOES -->
    <div class="tela" data-id="1">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Venda Cadastrada</p>
        <p class="descricao">Cliente e data da venda</p>
      </div>
      <!-- Id -->
      <input id="id" type="hidden">
      <!-- Cliente -->
      <label>Cliente</label>
      <app-select tabindex="0"></app-select>
      <!-- Data -->
      <label>Data da Venda</label>
      <app-date-picker id="data" tabindex="0"></app-date-picker>
      <!-- BOTOES -->
      <div class="botoes">
        <button class="negativo" id="fechar"><i class="icon-fechar"></i> Fechar</button>
        <button class="avancar" id="avancar">Avançar <i class="icon-seta-direita"></i></button>
      </div>
    </div>

    <!-- TELA PRODUTOS -->
    <div class="tela" data-id="2">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Venda Cadastrada</p>
        <p class="descricao">Produtos vendidos</p>
      </div>
      <!-- ITENS DA VENDA -->
      <app-itens-venda></app-itens-venda>
      <!-- BOTOES -->
      <div class="botoes">
        <button class="voltar" id="voltar"><i class="icon-seta-esquerda"></i> Voltar</button>
        <button class="avancar" id="avancar_2">Avançar <i class="icon-seta-direita"></i></button>
      </div>
    </div>

    <!-- TELA PAGAMENTO -->
    <div class="tela" data-id="3">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Venda Cadastrada</p>
        <p class="descricao">Total da venda</p>
      </div>
      <!-- MÉTODOS DE PAGAMENTO / PARCELAS -->
      <app-pagamento></app-pagamento>
      <!-- BOTOES -->
      <div class="botoes">
        <button class="voltar" id="voltar_2"><i class="icon-seta-esquerda"></i> Voltar</button>
      </div>
    </div>

  </div>

  <div class="opcoes">
    <button class="whatsapp" id="whatsapp">Enviar Recibo</button>
  </div>

</section>
