<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Assinatura Black</title>

  {{> metatags}}
  <link rel="manifest" href="./site.webmanifest">
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#000000">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-navbutton-color" content="#000000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000000">

  <!-- DNS -->
  <link rel="dns-prefetch" href="app.gerenciabeleza.com">
  <link rel="dns-prefetch" href="static.gerenciaconsultor.com">

  <!-- Robots -->
  <meta name="robots" content="none">

  <!-- CSS -->
  <link href="./static/css/assinatura.css?v={{versao.css}}" rel="stylesheet">
</head>

<body>

  <!-- INICIAL -->
  {{> inicial}}

  <!-- ASSINANTE -->
  {{> assinante}}

  <!-- EXPIRADO -->
  {{> expirado}}

  <!-- PAGSEGURO -->
  {{> pagseguro}}

  <!-- JS -->
  <script defer src="./static/js/pages/assinatura.js?v={{versao.js}}"></script>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169310836-3"></script>
  <script defer src="https://static.gerenciaconsultor.com/js/google-analises.js"></script>

</body>

</html>
