<section class="conteudo">

  <!-- DADOS -->
  <div class="dados">
    <!-- NOME -->
    <label>Nome <span class="required">*</span> </label>
    <input spellcheck="false" autocomplete="off" type="text" id="nome" placeholder="Qual o seu nome?">
    <!-- DATA DE NASCIMENTO -->
    <label>Data de Nascimento</label>
    <input class="data" spellcheck="false" id="data_nascimento" autocomplete="off" type="tel"
      placeholder="Quando você nasceu?" data-mask="##/##/####">
    <!-- TELEFONE -->
    <label>Telefone <span class="required">*</span> </label>
    <input spellcheck="false" autocomplete="off" type="tel" id="telefone" placeholder="Qual o seu telefone?"
      data-mask-phone="true">
    <!-- EMAIL -->
    <label>Email <span class="required">*</span> </label>
    <input spellcheck="false" autocomplete="off" readonly="true" type="email" id="email"
      placeholder="Qual o seu email?">
    <!-- BOTÃO -->
    <div class="botoes">
      <button class="salvar" id="editar">Salvar alterações</button>
      <button class="senha">Alterar Senha</button>
    </div>
  </div>

  <!-- NOTURNO -->
  <div class="noturno">
    <!-- TEXTO -->
    <div class="texto">
      <p class="titulo">Tema Escuro</p>
      <p class="descricao">Ative essa opção para deixar o seu sistema em modo escuro</p>
    </div>
    <!-- ALTERNAR -->
    <app-checkbox class="grande" tabindex="0"></app-checkbox>
  </div>

  <!-- SUPORTE -->
  <div class="suporte">
    <div class="texto">
      <p class="titulo">Precisa de ajuda?</p>
      <p class="descricao">Envie uma mensagem para nosso suporte clicando no icone</p>
    </div>
    <button></button>
  </div>

  <!-- ASSINATURA -->
  <div class="assinatura">
    <div class="texto">
      <p class="titulo">Torne-se um consultor Black!</p>
      <p class="descricao">Gostou da tecnologia? Então torne-se um black e aproveite todos os benefícios do sistema.
      </p>
    </div>
    <div class="botao">
      <a href="/assinatura"><button>Virar Black</button></a>
    </div>
  </div>

</section>
