<section class="ocultar" id="modal_senha">

  <!-- TELAS -->
  <div class="telas">

    <!-- TELA INFORMACOES -->
    <div class="tela" data-id="1">
      <!-- TITULO -->
      <div class="titulo">
        <p class="nome">Altere sua Senha</p>
        <p class="descricao">Crie uma nova senha para sua conta</p>
      </div>
      <!-- SENHA -->
      <label>Senha atual <span class="required">*</span> </label>
      <input spellcheck="false" autocomplete="off" type="password" id="senha_atual" placeholder="Qual sua senha atual?">
      <!-- SENHA -->
      <label>Digite a senha nova <span class="required">*</span> </label>
      <input spellcheck="false" autocomplete="off" type="password" id="senha_nova" placeholder="Qual sua nova senha?">
      <!-- SENHA -->
      <label>Repita a senha nova <span class="required">*</span> </label>
      <input spellcheck="false" autocomplete="off" type="password" id="confirmar_senha"
        placeholder="Repita a senha criada">

      <!-- BOTOES -->
      <div class="botoes">
        <button class="negativo" id="fechar"><i class="icon-fechar"></i> Fechar</button>
        <button class="positivo" id="editar">Alterar Senha</button>
      </div>
    </div>

  </div>

</section>
