/* ALTERAÇÕES EM MODAL
*/

.modal > .conteudo > section > .telas > .tela > #label_encomenda {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.modal > .conteudo > section > .telas > .tela > label > app-checkbox {
  margin-left: 10px;
}

.modal > .conteudo > section > .telas > .tela > .encomenda {
  animation: fadeIn ease-out 0.3s;
}

.modal > .conteudo > section > .telas > .tela > app-pagamento > .aviso {
  margin-bottom: 20px;
}

.modal > .conteudo > section#modal_visualizar > .telas > .tela > app-itens-venda > .grupo-1 {
  display: none;
}

.modal > .conteudo > section#modal_visualizar > .telas > .tela > app-itens-venda > .itens > .item {
  padding-top: 0;
}

.modal > .conteudo {
  padding-bottom: 300px;
}
